html.embed .item-type-new-container {
  padding: 0 15px;
}
.item-type-container span a,
.item-type-container span b {
  white-space: nowrap;
  background: #fcfcfc;
  border-radius: 5px;
  padding: .1em .75em;
  margin: 0 0 .25em .25em;
  display: inline-block;
}
.item-type-container span b {
  background: #ccc;
}