.adminbar {
  #gradient .vertical(@adminbar-top, @adminbar-bottom);
  border-radius: 0;
  padding: 0;
  .nav {
    > li > a {
      text-shadow: 0 -1px fade(@black, 25%);
      font-size: 18px;
      border-right: 1px solid fade(@black, 15%);
      border-left:  1px solid fade(@white, 15%);
      &:hover, &:active {
        //#gradient .vertical(@adminbar-top-active, @adminbar-bottom-active);
      }
    }
    .dropdown-menu {
      .demeicon, .glyphicon {
        padding-right: 5px;
      }
      a {
        white-space: nowrap;
      }
    }
  }
}