.timestamp {
  color: @gray-light;
}

.ui-widget-content a.btn {
  color: white;
}

.item-type-wrap {
  //background: #d6d6d6;
  background-color: #F5F5F5;
  border: 1px solid #E3E3E3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  .breadcrumb {
    margin: 0;
    background: transparent;
  }
  .item-type-container {
    border-top: 1px solid #e5e5e5;
    padding: 5px 10px;
  }
}

html.embed {
  .item-type-new-container {
    padding: 0 15px;
  }
  .popup-title {
    padding: 5px 15px 5px;
    margin: 0;
    background: @btn-info-bg;
    color: white;
  }
  .top-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .well {
    border-radius: 0;
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}
.item-type-container span a,
.item-type-container span b {
  white-space: nowrap;
  /*background: #fcfcfc;
  border-radius: 5px;
  padding: .1em .75em;
  margin: 0 .25em .5em 0;
  display: inline-block;*/
  margin-bottom:5px;
  &.no-permission {
    //color: @gray-light;
  }
}
.item-type-container span b {
  background: #ccc;
}

.gray-admin-box {
  border: thin solid #aaa; background: #eee; padding: 10px; margin-bottom: 10px;
}

.capitalize {
  text-transform: capitalize;
}