.adminbar {
  #gradient .vertical(@adminbar-top, @adminbar-bottom);
  border-radius: 0;
  padding: 0;
  height: 41px;
  .left-wrap {
    position: absolute;
    left: 0;
  }
  .nav {
    white-space: nowrap;
    > li > a {
      text-shadow: 0 -1px fade(@black, 25%);
      font-size: 16px;
      border-right: 1px solid fade(@black, 15%);
      border-left:  1px solid fade(@white, 15%);
      padding: 10px;
      &.active {
        #gradient .vertical(@adminbar-top-active, @adminbar-bottom-active);
      }
    }
    .dropdown-menu {
      .demeicon, .glyphicon {
        padding-right: 5px;
      }
      a {
        white-space: nowrap;
      }
    }
    &.actions-wrap {
      border-left: 1px solid fade(@black, 15%);
      position: absolute;
      right: 0;
      #gradient .vertical(@adminbar-top, @adminbar-bottom);
    }
    &.breadcrumbs {
      border-left: 1px solid fade(@white, 15%);
      border-right: 1px solid fade(@white, 15%);
      > li{
        #gradient .vertical(@adminbar-top-light, @adminbar-bottom-light);
        &:first-child {
          margin-left: 5px;
          border-left: 1px solid fade(@black, 15%);
          > a, > span {
            border-left:  1px solid fade(@white, 15%);
          }
        }
        > span {
          display: block;
          padding: 10px;
          color: @grayLighter;
        }
        > a, > span {
          background-image: url('../img/breadcrumb-right.png');
          background-repeat: no-repeat;
          background-position: right center;
          border: 0;
        }
        &:last-child > a, &:last-child > span {
          background-image: none;
          border-right: 1px solid fade(@black, 15%);
        }
      }
    }
  } //.nav
  .login-menu {
    .current-user {
      padding: 3px 20px;
      font-weight: bold;
    }
  }
}