form.item_form {
  > table {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}

.well-item-search {
  padding: 10px;
  //padding-bottom: 0;
  .ui-jqgrid {
    //margin: 20px -19px 0;
    margin-top: 15px;
  }
  .row .input-group {
    padding-left: 15px;
    padding-right: 15px;
  }
}
html.embed {
  .well-item-search {
    margin-bottom: 0;
  }
  .well-item-search,
  .item-type-container {
    border-radius: 0;
  }
}

.jqgrid_multitools {
  margin-top: 10px;
}