#overall-wrap {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

#overall {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  width: 90%;               /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;
}

#metabar {
  // position: fixed; overflow-y: auto; top: 90px; bottom: 10px; right: 10px; width: 0%; display: none; z-index: 1;
  width: 200px;
  .transition(width .5s);
  background: @metabar-background;
  box-shadow: 3px 0 5px fade(@black, 15%) inset;
  left: 0 !important;
  &.noanim {
    .transition(none);
  }
  &.closed {
    width: 0px !important;
    display: block;
    overflow: hidden;
  }
  .title {
    height: 41px;
    white-space: nowrap;
    #gradient .vertical(@adminbar-top-light, @adminbar-bottom-light);
    text-align: center;
    line-height: 41px;
    font-size: 16px;
    color: @white;
    text-shadow: 0 -1px fade(@black, 25%);
    font-weight: normal;
    .close {
      position: absolute;
      right: 0;
      padding: 10px;
      &:hover {
        background: transparent;
      }
    }
  }
  .section {
    border-top: 1px solid lighten(@grayLight,5%); //@grayLight;
    &:first-child {
      border-top: 0;
    }
    > button.header {
      border: 0;
      width: 100%;
      text-align: left;
      background: none;
      font-size: 12px;
      padding: 5px 10px;
      .icon {
        //margin-top: 8px;
        font-size: 9px;
        .rotate(90deg);
        display: block;
        float: left;
        margin-right: 4px;
        opacity: .8;
      }
      &.collapsed {
        .icon {
          .rotate(0deg)
        }
      }
    }
    > .collapse {
      margin: 0 10px;
      h3 {
        font-size: 1em;
        line-height: 1;
        margin: 0;
        font-weight: bold;
      }
      h3:first-child {
        //display: none; // removing header from being displayed as opposed to changing code
      }
    }
  }
}