.newsroll-wrap {
  background: @grayLighter;
  .item {
    //border: thin #ccc solid; background: #eee; -moz-border-radius: 8px; padding: 2px;
    border-bottom: 3px solid @white;
    padding: 15px;
  }
  .title {
    font-weight: bold;
  }
  // <div style="border: 1px solid #aaa; margin-bottom: 8px; margin-top: 8px;"></div>
}
