body {
  font-size: 14px;
}

.page-layout {
  * {
    word-wrap: break-word; // this is breaking jqgrid, probably need to be more specific
  }
  .logo-section {
    margin-bottom: 10px;
    a.logo {
      background: @adminbar-top-light;
      border-radius: 5px;
      display: block;
      padding: 10px;
      margin: 10px 0;
      color: @white;
      &:hover {
        text-decoration: none;
        background: @adminbar-bottom-light;
      }
      h1 {
        margin: 0;
      }
      &.img-logo {
        background: none;
        &:hover {
          background: none;
        }
      }
    }
  }
  h1.title {
    font-size: 2em;
    img {
      vertical-align: middle;
    }
    a {
      text-decoration: none;
    }
  }
  li {
    margin-bottom: .5em;
  }
  .table-discussion {
    table-layout: fixed;
    th.topics {

    }
    th.replies {
      width: 15%;
    }
    th.last-post {
      width: 20%;
    }
    td {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.sidebar-section {
  .recently-viewed {
    div {
      padding-bottom: 10px;
    }
  }
}