.page-layout {
  margin-top: 10px;
  .logo-section {
    margin-bottom: 10px;
    a.logo {
      background: @adminbar-top-light;
      border-radius: 5px;
      display: block;
      padding: 10px;
      margin: 10px 0;
      color: @white;
      &:hover {
        text-decoration: none;
        background: @adminbar-bottom-light;
      }
    }
  }
}