.agent-profile,
.group-profile {
  .thumb {
    margin-top: 20px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 2px 3px fade(@black, 20);
    border: 1px solid #eee;
    display: block;
    background-image: url('../img/empty-profile-pic.jpg');
  }
  .activity-inner {
    h3 {
      display: none; // hack to hide "action notices" title
    }
  }
}

.group-profile {
  .header {
    .thumb {
      height: 150px;
    }
  }
  .name {
    text-align: center;
    margin-top: 10px;
  }
  .pagination {
    text-align: center;
  }
}