@white: #fff;
@black: #000;

@adminbar-top: #68a7bd;
@adminbar-bottom: #29687e;
@adminbar-top-active: #5c95ad;
@adminbar-bottom-active: #17475b;
@adminbar-top-light: #8ac9df;
@adminbar-bottom-light: #49869c;
