{% extends layout %}
{% load item_tags %}


{% block content %}
<div class="agent-profile container">
  <div class="row">
    {% if item.photo %}
    {% ifagentcan 'view Agent.photo' item %}
    {% ifagentcan 'view FileDocument.datafile' item.photo %}
    <div class="thumb" style="background-image:url('{{ item.photo.datafile.url }}')">
      <img src="{{ item.photo.datafile.url }}" alt="{% viewable_name item %}">
    </div>
    {% endifagentcan %}
    {% endifagentcan %}
    {% else %}
    <div class="thumb"></div>
    {% endif %}

    <div class="profile">
      <!--h1 title="title">{% viewable_name item %}</h1-->
      <ul>
        {% for contact_method in contact_methods %}
        <li>{{ contact_method }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12 groups">
      <h3>Groups</h3>
      <ul>
        {% for membership in item.memberships.all %}
          <!-- TODO: Check for permission to view! -->
          <li><a href="{{ membership.collection.get_absolute_url }}">{{ membership.collection.name }}</a></li>
        {% endfor %}
      </ul>

    </div>
    <div class="col col-lg-12 activity">
      <h3>Recent Activity</h3>
      <div class="activity-inner">
      {% metadata_action_notices %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

