.adminbar {
  background-image: -webkit-linear-gradient(top, #8c1515 0%, #600e0e 100%);
  background-image: linear-gradient(to bottom, #8c1515 0%, #600e0e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c1515', endColorstr='#ff600e0e', GradientType=0);
}
.adminbar .nav > li > a:active,
.adminbar .nav > li > a.active,
.adminbar .nav > li > a:hover.active {
  background-image: -webkit-linear-gradient(top, #820000 0%, #4f0000 100%);
  background-image: linear-gradient(to bottom, #820000 0%, #4f0000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff820000', endColorstr='#ff4f0000', GradientType=0);
}
.adminbar .nav .dropdown.open > a {
  background-image: -webkit-linear-gradient(top, #820000 0%, #4f0000 100%);
  background-image: linear-gradient(to bottom, #820000 0%, #4f0000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff820000', endColorstr='#ff4f0000', GradientType=0);
}
.adminbar .nav.actions-wrap {
  background-image: -webkit-linear-gradient(top, #8c1515 0%, #600e0e 100%);
  background-image: linear-gradient(to bottom, #8c1515 0%, #600e0e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c1515', endColorstr='#ff600e0e', GradientType=0);
}
.adminbar .nav.breadcrumbs > li {
  background-image: -webkit-linear-gradient(top, #b81c1c 0%, #8c1515 100%);
  background-image: linear-gradient(to bottom, #b81c1c 0%, #8c1515 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb81c1c', endColorstr='#ff8c1515', GradientType=0);
}
@media (max-width: 767px) {
  .adminbar .nav.search {
    background-image: -webkit-linear-gradient(top, #8c1515 0%, #600e0e 100%);
    background-image: linear-gradient(to bottom, #8c1515 0%, #600e0e 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c1515', endColorstr='#ff600e0e', GradientType=0);
  }
  .adminbar.breadcrumbs > li > a,
  .adminbar.breadcrumbs > li > span {
    background-image: -webkit-linear-gradient(top, #8c1515 0%, #600e0e 100%);
    background-image: linear-gradient(to bottom, #8c1515 0%, #600e0e 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c1515', endColorstr='#ff600e0e', GradientType=0);
  }
  .adminbar.breadcrumbs > li:last-child > a,
  .adminbar.breadcrumbs > li:last-child > span {
    background-image: -webkit-linear-gradient(top, #8c1515 0%, #600e0e 100%);
    background-image: linear-gradient(to bottom, #8c1515 0%, #600e0e 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c1515', endColorstr='#ff600e0e', GradientType=0);
  }
}
#metabar {
  background: #f8f6ea;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.05) inset;
  border-left: 1px solid #cccccc;
}
#metabar > .title {
  background-image: -webkit-linear-gradient(top, #4f0000 0%, #350000 100%);
  background-image: linear-gradient(to bottom, #4f0000 0%, #350000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f0000', endColorstr='#ff350000', GradientType=0);
}
#metabar .btn-metadata {
  background-image: -webkit-linear-gradient(top, #8c1515 0%, #b81c1c 100%);
  background-image: linear-gradient(to bottom, #8c1515 0%, #b81c1c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c1515', endColorstr='#ffb81c1c', GradientType=0);
}
.navbar-inverse,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  border-color: #8c1515;
}
