{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item.item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item.item_type|icon_url:48 }}" /> {% ifagentcan 'view' 'name' item %}{{ item.name }}{% else %}[PERMISSION DENIED]{% endifagentcan %}{% endblock %}
{% block content %}

{% itemheader %}

{% ifagentcan 'view' 'datafile' item %}
<img src="/static/media/{{ itemversion.datafile }}" />
{% else %}
[PERMISSION DENIED]
{% endifagentcan %}

{% commentbox %}

{% endblock content %}

