{% extends layout %}
{% load item_tags %}
{% block content %}

<p>
<a href="{{ url_prefix }}{{ action_agent.get_absolute_url }}">{% viewable_name action_agent %}</a>
commented on
<a href="{{ url_prefix }}{{ topmost_item.get_absolute_url }}">{% viewable_name topmost_item %}</a>
</p>

<p>
<a href="{{ url_prefix }}{{ topmost_item.get_absolute_url }}?highlighted_comment={{ comment.pk }}">Click here to view this comment in context</a>
{#TODO make the comment highlighted when you go there #}
</p>

<hr />

{% ifagentcan 'view body' comment %}
{{ comment.body|linebreaks }}
{% else %}
<p>
[You do not have permission to view the body of this comment]
</p>
{% endifagentcan %}

{% if action_summary %}
<p>
<strong>Action summary:</strong> {{ action_summary }}
</p>
{% endif %}

{% endblock content %}
