{% extends layout %}
{% load item_tags %}
{% block content %}

<p>

<a href="{{ url_prefix }}{{ action_agent.get_absolute_url }}">{% viewable_name action_agent %}</a>

{% ifequal delete_type "deactivate" %}
deactivated
{% endifequal %}
{% ifequal delete_type "reactivate" %}
reactivated
{% endifequal %}
{% ifequal delete_type "destroy" %}
destroyed
{% endifequal %}

<a href="{{ url_prefix }}{{ action_item.get_absolute_url }}">{% viewable_name action_item %}</a>

{% ifequal action_item topmost_item %}
{% else %}
-
a comment about
<a href="{{ url_prefix }}{{ topmost_item.get_absolute_url }}">{% viewable_name topmost_item %}</a>
{% endifequal %}

</p>

{% if action_summary %}
<p>
<strong>Action summary:</strong> {{ action_summary }}
</p>
{% endif %}

{% endblock content %}

