{% extends layout %}
{% load item_tags %}
{% block content %}

<p>

Courtesy of
<a href="{{ url_prefix }}{{ action_agent.get_absolute_url }}">{% viewable_name action_agent %}</a>,
{% for part in natural_language_representation %}
{% if part.pk %}
<a href="{{ url_prefix }}{{ part.get_absolute_url }}">{% viewable_name part %}</a>
{% else %}
{{ part }}
{% endif %}
{% endfor %}

{% ifequal action_item topmost_item %}
{% else %}
<br /><br />
<a href="{{ url_prefix }}{{ action_item.get_absolute_url }}">{% viewable_name action_item %}</a>
is a comment about
<a href="{{ url_prefix }}{{ topmost_item.get_absolute_url }}">{% viewable_name topmost_item %}</a>
{% endifequal %}

</p>

{% if action_summary %}
<p>
<strong>Action summary:</strong> {{ action_summary }}
</p>
{% endif %}

{% endblock content %}

