*.pyc
settings.py
.*.swp
.DS_Store
venv/
deme_django/static/crystal_project/
deme_django/static/javascripts/tinymce/
deme_django/rundev.sh
deme_django/script/reset_db_mh.sh
deme_django/static/filedocument/
deme_django/static/uploads/
deme_django/local_settings.py
.idea
