{% extends layout %}
{% load item_tags %}
{% block favicon %}{{ item|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item|icon_url:48 }}" /> {% viewable_name item %}{% endblock %}
{% block content %}

<script type="text/javascript" src="/static/javascripts/highlighting.js"></script>

<style type="text/css">
    .transclude_token:hover {
        cursor: pointer;
        border-left: 2px solid #f00;
        margin-left: -3px;
        padding-left: 1px;
        background: #ddd;
    }
</style>

<script type="text/javascript">
    var is_escaped = {% if is_html %}false{% else %}true{% endif %};
    var body_str = "{{ item.body|escapejs }}";

    function parse_error(str) {
        $('#parse_errors').show();
        var div = document.createElement('div');
        div.appendChild(document.createTextNode(str));
        $('#parse_errors')[0].appendChild(div);
    }

    function located_comment_token_click(e) {
        var targ;
        if (!e) var e = window.event;
        if (e.target) targ = e.target;
        else if (e.srcElement) targ = e.srcElement;
        if (targ.nodeType == 3) // defeat Safari bug
            targ = targ.parentNode;
        var tokenWrapper = targ;
        var index = tokenWrapper.deme_text_offset;
        var url = '{% url item_type_url viewer="textcomment",action="new" %}?item={{ item.pk }}&amp;item_version_number={{ item.version_number }}&amp;redirect={{ full_path|urlencode }}&amp;item_index=' + index;
        window.location = url;
        return false;
    }

    function transclusion_token_click(e) {
        var targ;
        if (!e) var e = window.event;
        if (e.target) targ = e.target;
        else if (e.srcElement) targ = e.srcElement;
        if (targ.nodeType == 3) // defeat Safari bug
            targ = targ.parentNode;
        var tokenWrapper = targ;
        var index = tokenWrapper.deme_text_offset;
        var url = '{% url item_type_url viewer="transclusion",action="new" %}?from_item={{ item.pk }}&amp;from_item_version_number={{ item.version_number }}&amp;redirect={{ full_path|urlencode }}&amp;from_item_index=' + index;
        window.location = url;
        return false;
    }

    function add_located_comment() {
        var docbody = $('#docbody')[0];
        var docbody_clone = DemeHighlighting.tokenize(docbody, body_str, is_escaped, parse_error, 'transclude_token', located_comment_token_click);
        docbody_clone.setAttribute('id', 'docbody_clone_located_comment');
        $(docbody).hide();
        docbody.parentNode.insertBefore(docbody_clone, docbody);

        $('#add_located_comment_div').hide();
        $('#adding_located_comment_div').show();
    }

    function cancel_add_located_comment() {
        $('#docbody').show();
        $('#docbody_clone_located_comment').remove();
        $('#add_located_comment_div').show();
        $('#adding_located_comment_div').hide();
    }

    function add_transclusion() {
        var docbody = $('#docbody')[0];
        var docbody_clone = DemeHighlighting.tokenize(docbody, body_str, is_escaped, parse_error, 'transclude_token', transclusion_token_click);
        docbody_clone.setAttribute('id', 'docbody_clone_transclusion');
        $(docbody).hide();
        docbody.parentNode.insertBefore(docbody_clone, docbody);

        $('#add_transclusion_div').hide();
        $('#adding_transclusion_div').show();
    }

    function cancel_add_transclusion() {
        $('#docbody').show();
        $('#docbody_clone_transclusion').remove();
        $('#add_transclusion_div').show();
        $('#adding_transclusion_div').hide();
    }

    function start_highlighting() {
        $('#docbody').bind('mouseup', add_current_highlight);
        $('#add_highlight_div').hide();
        $('#adding_highlight_div').show();
    }
 
    function cancel_highlighting() {
        $('#docbody').unbind('mouseup', add_current_highlight);
        $('#add_highlight_div').show();
        $('#adding_highlight_div').hide();
    }

    function add_current_highlight() {
        var docbody = $('#docbody')[0];
        var selection = DemeHighlighting.get_current_highlight(docbody, body_str);
        if (selection) {
            var text_excerpt = body_str.substring(selection.start_offset, selection.end_offset);
            var length = selection.end_offset - selection.start_offset;
            var form_div = document.createElement('div');
            form_div.style.border = 'thin solid #aaa';
            form_div.style.padding = '5px';
            form_div.style.margin = '5px';
            var input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', 'excerpt');
            input.setAttribute('value', '{{ item.pk }} {{ item.version_number }} ' + selection.start_offset + ' ' + length);
            form_div.appendChild(input);
            var remove_button = document.createElement('button');
            remove_button.appendChild(document.createTextNode('Remove'));
            remove_button.setAttribute('type', 'button');
            remove_button.style.cssFloat = 'right';
            remove_button.style.styleFloat = 'right';
            remove_button.onclick = function(){$(remove_button.parentNode).remove(); return false;};
            form_div.appendChild(remove_button);
            form_div.appendChild(selection.contents);
            $('#excerpt_form')[0].appendChild(form_div);
            //var url = '{% url item_type_url viewer="textdocumentexcerpt",action="new" %}?text_document={{ item.pk }}&amp;text_document_version_number={{ item.version_number }}&amp;redirect={{ full_path|urlencode }}&amp;start_index=' + selection.start_offset + '&amp;length=' + length;
            //window.location = url;
        }
    }

    function submit_highlights() {
        $('#excerpt_form').submit();
    }
</script>

<div id="parse_errors" style="display: none;">
</div>

{% ifagentcan 'view' 'body' item %}

{% ifagentcan 'add_transclusion' '' item %}

{% ifagentcan 'comment_on' '' item %}
<div id="add_located_comment_div">
<a href="#" onclick="add_located_comment(); return false;">[+] Located Comment</a>
</div>
<div id="adding_located_comment_div" style="display: none;">
Now just select text where you want to comment or
<a href="#" onclick="cancel_add_located_comment(); return false;">Cancel</a>
</div>
{% endifagentcan %}

<div id="add_transclusion_div">
<a href="#" onclick="add_transclusion(); return false;">[+] Transclusion</a>
</div>
<div id="adding_transclusion_div" style="display: none;">
Now just select text where you want to add a Transclusion or
<a href="#" onclick="cancel_add_transclusion(); return false;">Cancel</a>
</div>

{% endifagentcan %}

{% ifagentcanglobal 'create' 'TextDocumentExcerpt' %}
{% ifagentcanglobal 'create' 'Collection' %}
<div id="add_highlight_div">
<a href="#" onclick="start_highlighting(); return false;">[+] Highlight</a>
</div>

<div id="adding_highlight_div" style="display: none;">
Now just select text you want to highlight.
When you are done selecting excerpts, <a href="#" onclick="submit_highlights(); return false;">submit them</a> or <a href="#" onclick="cancel_highlighting(); return false;">cancel</a>.
<form id="excerpt_form" method="post" enctype="multipart/form-data" action="{% url item_type_url viewer="textdocumentexcerpt",action="createmultiexcerpt" %}">
</form>
</div>
{% endifagentcanglobal %}
{% endifagentcanglobal %}

<div><a href="#" onclick="$('.commentref').toggle(); return false;">Toggle Inline Comments</a></div>

<div class="regular_css">
<div id="docbody" style="padding: 10px;">{% display_body_with_inline_transclusions item is_html %}</div>
</div>
{% endifagentcan %}

{% endblock content %}

