{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item.item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item.item_type|icon_url:48 }}" /> {% ifagentcan 'view' 'name' item %}{{ item.name }}{% else %}[PERMISSION DENIED]{% endifagentcan %}{% endblock %}
{% block content %}

<script type="text/javascript" src="/static/javascripts/prototype.js"></script>

{% itemheader %}

<style type="text/css">
    .located_token_hover {
        cursor: pointer;
        border-left: 2px solid #f00;
        margin-left: -3px;
        padding-left: 1px;
        background: #ddd;
    }
</style>

<script type="text/javascript">
    var body_str = "{{ itemversion.body|escapejs }}";

    function parse_error(str) {
        $('parse_errors').show();
        var div = document.createElement('div');
        div.appendChild(document.createTextNode(str));
        $('parse_errors').appendChild(div);
    }

    function located_token_mouseover(e) {
        var targ;
        if (!e) var e = window.event;
        if (e.target) targ = e.target;
        else if (e.srcElement) targ = e.srcElement;
        if (targ.nodeType == 3) // defeat Safari bug
            targ = targ.parentNode;
        var tokenWrapper = $(targ);
        tokenWrapper.addClassName('located_token_hover');
    }

    function located_token_mouseout(e) {
        var targ;
        if (!e) var e = window.event;
        if (e.target) targ = e.target;
        else if (e.srcElement) targ = e.srcElement;
        if (targ.nodeType == 3) // defeat Safari bug
            targ = targ.parentNode;
        var tokenWrapper = $(targ);
        tokenWrapper.removeClassName('located_token_hover');
    }

    function located_token_click(e) {
        var targ;
        if (!e) var e = window.event;
        if (e.target) targ = e.target;
        else if (e.srcElement) targ = e.srcElement;
        if (targ.nodeType == 3) // defeat Safari bug
            targ = targ.parentNode;
        var tokenWrapper = $(targ);
        var index = tokenWrapper.deme_text_offset;
        var url = '/resource/textcomment/new?commented_item={{ item.pk }}&commented_item_version_number={{ itemversion.version_number }}&redirect={{ full_path|urlencode }}&commented_item_index=' + index;
        window.location = url;
        return false;
    }

    function add_located_comment() {
        var docbody = $('docbody');
        var docbody_clone = $(docbody.cloneNode(true));

        var body_str_index = 0;
        var remaining_body_str = body_str;
        var increment_body_str = function(n){
            body_str_index += n;
            remaining_body_str = remaining_body_str.substring(n);
        };
        var traverse_text = function(text, wrapper){
            while (text.length > 0) {
                var whiteSpaceBodyMatch = /((&nbsp;)|(\s))+/i.exec(remaining_body_str);
                var whiteSpaceTextMatch = /((&nbsp;)|(\s))+/i.exec(text);
                var bodyStartsWithWhiteSpace = (whiteSpaceBodyMatch != null && whiteSpaceBodyMatch.index == 0);
                var textStartsWithWhiteSpace = (whiteSpaceTextMatch != null && whiteSpaceTextMatch.index == 0);
                if (bodyStartsWithWhiteSpace && textStartsWithWhiteSpace) {
                    increment_body_str(whiteSpaceBodyMatch[0].length);
                    if (whiteSpaceTextMatch != null) {
                        var whiteSpaceTextNode = document.createTextNode(text.substring(0, whiteSpaceTextMatch[0].length));
                        wrapper.appendChild(whiteSpaceTextNode);
                        text = text.substring(whiteSpaceTextMatch[0].length);
                    }
                } else if (bodyStartsWithWhiteSpace) {
                    parse_error('error: body starts with whitespace but text does not'); //TODO what to do about this?
                } else if (textStartsWithWhiteSpace) {
                    var whiteSpaceTextNode = document.createTextNode(text.substring(0, whiteSpaceTextMatch[0].length));
                    wrapper.appendChild(whiteSpaceTextNode);
                    text = text.substring(whiteSpaceTextMatch[0].length);
                } else {
                    var token;
                    if (whiteSpaceTextMatch == null) {
                        token = text;
                    } else {
                        token = text.substring(0, whiteSpaceTextMatch.index);
                    }
                    var tokenWrapper = document.createElement('span');
                    tokenWrapper.deme_text_offset = body_str_index;
                    tokenWrapper.onmouseover = located_token_mouseover;
                    tokenWrapper.onmouseout = located_token_mouseout;
                    tokenWrapper.onclick = located_token_click;
                    var tokenTextNode = document.createTextNode(token);
                    tokenWrapper.appendChild(tokenTextNode);
                    wrapper.appendChild(tokenWrapper);
                    var body_i = 0;
                    for (var i = 0; i < token.length; i++) {
                        if (remaining_body_str.length <= 0) {
                            parse_error("error: out of remaining_body_str"); //TODO what to do about this?
                        }
                        var bodyChar = remaining_body_str.substring(body_i, body_i+1);
                        if (bodyChar == '&') {
                            var semicolonIndex = remaining_body_str.indexOf(';', body_i+1);
                            if (semicolonIndex == -1) {
                                parse_error("error: found ampersand without semicolon"); //TODO what to do about this?
                            }
                            body_i = semicolonIndex + 1;
                        } else {
                            var tokenChar = token.substring(i, i+1);
                            if (bodyChar != tokenChar) {
                                parse_error("error: bodyChar (" + bodyChar + ") != tokenChar (" + tokenChar + ")"); //TODO what to do about this?
                            }
                            body_i += 1;
                        }
                    }
                    increment_body_str(body_i);
                    text = text.substring(token.length);
                }
            }
        };
        var traverse_fn = function(nodes){
            for (var i = 0; i < nodes.length; i++) {
                var node = $(nodes[i]);
                if (node.nodeType == Node.TEXT_NODE) {
                    var wrapper = $(document.createElement('span'));
                    node.parentNode.insertBefore(wrapper, node);
                    traverse_text(node.data, wrapper);
                    node.parentNode.removeChild(node);
                } else {
                    if (!node.hasClassName('commentref')) {
                        // match the start tag
                        var startTagPattern = new RegExp("[.\\s]*<\\s*" + node.tagName + "((\\s*)|(\\s+[^>]+))>", "i");
                        var startTagMatch = startTagPattern.exec(remaining_body_str);
                        if (startTagMatch == null) {
                            //parse_error("error: could not find start tag: " + node.tagName); //TODO what to do about this?
                            traverse_fn(node.childNodes);
                        } else {
                            increment_body_str(startTagMatch.index + startTagMatch[0].length);
                            if (node.tagName == 'IMG') {
                                node.deme_text_offset = body_str_index - startTagMatch[0].length;
                                node.onmouseover = located_token_mouseover;
                                node.onmouseout = located_token_mouseout;
                                node.onclick = located_token_click;
                            }
                            traverse_fn(node.childNodes);

                            // match the optional end tag
                            var endTagPattern = new RegExp("\\s*<\\s*/\\s*" + node.tagName + "[^>]*>", "i");
                            var endTagMatch = endTagPattern.exec(remaining_body_str);
                            // we only want to match the end tag if it occurs RIGHT here
                            if (endTagMatch != null && endTagMatch.index == 0) {
                                increment_body_str(endTagMatch[0].length);
                            }
                        }
                    }
                }
            }
        };
        traverse_fn(docbody_clone.childNodes);

        docbody_clone.setAttribute('id', 'docbody_clone');
        docbody.hide();
        docbody.parentNode.insertBefore(docbody_clone, docbody);

        $('add_located_comment_div').hide();
        $('adding_located_comment_div').show();
    }

    function cancel_add_located_comment() {
        $('docbody').show();
        $('docbody_clone').remove();
        $('add_located_comment_div').show();
        $('adding_located_comment_div').hide();
    }
</script>

<!-- Adapted from http://unraveled.com/projects/css_tabs/ -->
<style type="text/css">

/* begin css tabs */

ul#tabnav { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 0 0; /* set margins as desired */
font: bold 11px verdana, arial, sans-serif; /* set font as desired */
border-bottom: 1px solid #6c6; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
display: inline;
}

ul#tabnav li.tabhighlighted { /* settings for selected tab */
border-bottom: 1px solid #fff; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

ul#tabnav li.tabhighlighted a { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
outline: none;
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #cfc; /* set unselected tab background color as desired */
color: #666; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
background: #fff; /* set desired hover color */
}

/* end css tabs */
	
div#section_body, div#section_comments, div#section_combined {
    border: 1px solid #6c6;
    border-top: none;
    padding: 10px;
}
</style>

<script type="text/javascript">
    function select_section_body() {
        $('section_body').appendChild($('section_body_inner'));
        $$('ul#tabnav li.tabhighlighted').each(function(e){e.removeClassName('tabhighlighted')});
        $('tab_body').addClassName('tabhighlighted');
        $('section_body').show();
        $('section_comments').hide();
        $('section_combined').hide();
    }
    function select_section_comments() {
        $('section_comments').appendChild($('section_comments_inner'));
        $$('ul#tabnav li.tabhighlighted').each(function(e){e.removeClassName('tabhighlighted')});
        $('tab_comments').addClassName('tabhighlighted');
        $('section_body').hide();
        $('section_comments').show();
        $('section_combined').hide();
    }
    function select_section_combined() {
        $('body_side').appendChild($('section_body_inner'));
        $('comments_side').appendChild($('section_comments_inner'));
        $$('ul#tabnav li.tabhighlighted').each(function(e){e.removeClassName('tabhighlighted')});
        $('tab_combined').addClassName('tabhighlighted');
        $('section_body').hide();
        $('section_comments').hide();
        $('section_combined').show();
    }
    /*
    var body_clone = $($('section_body_inner').cloneNode(true));
    var comments_clone = $($('section_comments_inner').cloneNode(true));
    $('body_side').appendChild(body_clone);
    $('comments_side').appendChild(comments_clone);
    */
</script>

<ul id="tabnav">
	<li id="tab_body" class="tabhighlighted"><a href="#" onclick="select_section_body(); return false;">Document</a></li>
	<li id="tab_combined"><a href="#" onclick="select_section_combined(); return false;">Side By Side</a></li>
	<li id="tab_comments"><a href="#" onclick="select_section_comments(); return false;">Comments ({{ item.comments_as_item.all|length }})</a></li>
</ul>

<div id="section_body">
<div id="section_body_inner">

<div id="parse_errors" style="display: none;">
</div>

<div id="add_located_comment_div">
<a href="#" onclick="add_located_comment(); return false;">[+] Add Located Comment</a>
</div>

<div id="adding_located_comment_div" style="display: none;">
Now just select text where you want to comment or
<a href="#" onclick="cancel_add_located_comment(); return false;">Cancel</a>
</div>

<div><a href="#" onclick="$$('.commentref').each(function(e){e.toggle()}); return false;">Toggle Comments</a></div>

{% ifagentcan 'view' 'body' item %}
<div id="docbody" style="padding: 10px;">{% display_body_with_inline_comments itemversion is_html %}</div>
{% else %}
<div id="docbody" style="padding: 10px;">
[PERMISSION DENIED]
</div>
{% endifagentcan %}

</div>
</div>

<div id="section_combined" style="display: none;">
    <div id="body_side" style="float: left; width: 50%;"></div>
    <div id="comments_side" style="float: right; width: 50%;"></div>
    <div style="clear: both;"></div>
</div>

<div id="section_comments" style="display: none;">
<div id="section_comments_inner">
<div><a href="#" onclick="$$('.comment_body, .comment_description').each(function(e){e.toggle()}); return false;">Collapse/Expand</a></div>
{% commentbox %}
</div>
</div>

{% endblock content %}

