Welcome to Deme!
<br /><br />
Visit our GitHub page for the latest source code: <a href="http://github.com/mikemintz/deme">http://github.com/mikemintz/deme</a>.
<br /><br />
This site is running a working copy of Deme <a href="http://github.com/mikemintz/deme/commit/%s">commit %s</a> from %s.
<br /><br />
To get started using Deme, see <a href="/viewing/item/gettingstartedhelp">Getting Started with Deme</a> and watch the <a href="http://www.youtube.com/watch?v=QDxpfJl8GXE">Setting Up Deme video tutorial</a>.
<br /><br />
Read our paper on Deme's architecture for IWWOST 2009 at <a href="http://www.stanford.edu/~davies/IWWOST09-Davies-Mintz-websiteversion.pdf">http://www.stanford.edu/~davies/IWWOST09-Davies-Mintz-websiteversion.pdf</a>