<p>Welcome to Deme!</p>

<p>For installation instructions and the latest source code, please visit our GitHub page at <a href="http://github.com/mikemintz/deme">http://github.com/mikemintz/deme</a>.</p>

<p>This site is running a working copy of Deme <a href="http://github.com/mikemintz/deme/commit/%s">commit %s</a> from %s.</p>

<p>To get started using Deme, see <a href="/viewing/item/gettingstartedhelp">Getting Started with Deme</a> and watch the <a href="http://www.youtube.com/watch?v=QDxpfJl8GXE">Setting Up Deme video tutorial</a>.</p>

<p>Learn more about Deme's architecture in our <a href="http://www.stanford.edu/~davies/IWWOST09-Davies-Mintz-websiteversion.pdf">IWWOST 2009 academic paper</a></p>