{% load item_tags %}

<script type="text/javascript" src="{% media_url "javascripts/sha1.js" %}"></script>
<script type="text/javascript" src="{% media_url "javascripts/mysql_pre41_password.js" %}"></script>
<script type="text/javascript">
    function get_encrypted_password(raw_password, algo, salt, nonce) {
        var original_hashed_password;
        if (algo == 'sha1') {
            original_hashed_password = SHA1(salt + raw_password);
        } else if (algo == 'mysql_pre41_password') {
            original_hashed_password = mysql_pre41_password(raw_password);
        } else {
            return 'unknown algo: ' + algo;
        }
        return SHA1(nonce + original_hashed_password);
    }
    function encrypt_password() {
        var raw_password = document.forms['password_form']['password'].value;
        var url = '{% url 'item_type_url' viewer="demeaccount" action="getencryptionmethod" %}';
        jQuery.post(url, {username:document.forms['password_form']['username'].value}, function(json) {
            var algo = json.algo;
            var salt = json.salt;
            var nonce = json.nonce;
            var encrypted_password = get_encrypted_password(raw_password, algo, salt, nonce);
            document.forms['real_password_form']['hashed_password'].value = encrypted_password;
            document.forms['real_password_form']['username'].value = document.forms['password_form']['username'].value;
            document.forms['real_password_form'].submit();
        }, "json");
    }
    $(function(){
        // if there is more than one password_form, delete the extras.
        var forms = $('form[name="password_form"]');
        if (forms.length > 1) {
          for (var i = 1; i < forms.length; i++) {
            $(forms[i]).remove();
          }
        }
        var forms = $('form[name="real_password_form"]');
        if (forms.length > 1) {
          for (var i = 1; i < forms.length; i++) {
            $(forms[i]).remove();
          }
        }
    });
</script>
<form name="password_form" role="form" onsubmit="$('#login_dialog_password').dialog('close'); encrypt_password(); return false;">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" name="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" name="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <button class="btn btn-link" onclick="$('#login_dialog_password').dialog('close'); return false">Cancel</button>
    <div>
        <br />
        <small><a href="{% url 'item_type_url' viewer="demeaccount" action="forgot" %}">Forgot your password?</a></small>
    </div>
</form>
<form name="real_password_form" action="{% url 'item_type_url' viewer="demeaccount" action="login" %}?redirect={{ redirect|urlencode }}" method="post">
    <input type="hidden" name="username" />
    <input type="hidden" name="hashed_password" onchange="document.forms['password_form']['hashed_password'].value = '';" />
</form>
