{% load item_tags %}
{% if cur_agent.is_anonymous %}

<li>
<div style="display: none;" id="login_dialog_password" title="Login">
    {% include "demeaccount/loginform.html" %}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#login_dialog_password').dialog({
            autoOpen: false,
            buttons: {"Login": function(){$(this).dialog('close'); document.forms['password_form'].onsubmit()}, "Cancel": function(){$(this).dialog("close")} },
            modal: true,
            bgiframe: true,
        });
    });
</script>
</li>

<li class="loginmenuitem"><a href="#" onclick="$('#login_dialog_password').dialog('open'); return false;">Deme account</a></li>

{% else %}

    {% if one_or_more %}
        {% if two_or_more %}
        {% for account in auth_methods %}
        <li class="loginmenuitem"><a href="{% url item_url viewer="demeaccount",action="edit",noun=account.pk %}"><i class="glyphicon glyphicon-user"></i> Change password for {% viewable_name account %}</a></li>
        {% endfor %}
        {% else %}
        {% for account in auth_methods %}
        <li class="loginmenuitem"><a href="{% url item_url viewer="demeaccount",action="edit",noun=account.pk %}"><i class="glyphicon glyphicon-user"></i> Change password</a></li>
        {% endfor %}
        {% endif %}
    {% endif %}

{% endif %}
