{% extends layout %}
{% load item_tags %}
{% block content %}

{% if login_as_agents %}
<form action="{% url item_type_url viewer="authenticationmethod",action="login" %}?redirect={{ redirect|urlencode }}" method="post">
<div style="margin-top: 15px;">
    <p>You may login as one of the following agents:</p>
    {% for agent in login_as_agents %}
        {% if agent.active %}
        <p>
            <button type="submit" name="login_as_{{ agent.pk }}" class="btn btn-default">Login</button>
            <a href="{{ agent.get_absolute_url }}">{% viewable_name agent %}</a>
        </p>
        {% endif %}
    {% endfor %}
</div>
</form>
{% endif %}

{% endblock content %}

