{% autoescape off %}
<html>
        <head>
        <link rel=stylesheet href=/static/modules/symsys/symsys.css type="text/css">
        <title>Symbolic Systems Program</title>
        <link rel="shortcut icon" href="{% block favicon %}/static/modules/symsys/favicon.ico{% endblock %}" type="image/x-icon">
        </head>
<body bgcolor="white" LINK="#b30008" ALINK="#BBBB00" VLINK="#b30008"
leftmargin=0 topmargin=0 marginwidth=0 marginheight=0
rightmargin=0 background="/static/modules/symsys/images/sspback2.gif" alt="Stanford Tree">

<!-- Begin header -->

<TABLE BGCOLOR=dddddd BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%" ALIGN="CENTER">
<TR>
        <TD>

<MAP Name="leftHeaderMap" ALT="Symbolic Systems Header" >
<AREA SHAPE="rect" Coords="120,0,500,40"
href="/" alt="Symbolic Systems Program">
<AREA SHAPE="rect" Coords="125, 50, 188, 70" href="ssp_people"
alt="People">
<AREA SHAPE="rect" Coords="198, 50, 260, 70" href="ssp_events"
alt="Events">
<AREA SHAPE="rect" Coords="270, 50, 345, 70"
href="/ssp_static?page=courses.html" alt="Courses">
<AREA SHAPE="rect" Coords="355, 50, 435, 70"
href="/ssp_static?page=research.html" alt="Research">
<AREA SHAPE="rect" Coords="445, 50, 520, 70"
href="/ssp_static?page=jobs.html" alt="Careers">
</MAP>
        <IMG SRC="/static/modules/symsys/images/header-left.jpg" HEIGHT="75" alt="Left Header" WIDTH="530"
        ALIGN="LEFT" TOPMARGIN=0 BORDER="0" NATURALSIZEFLAG="0" Usemap="#leftHeaderMap" Ismap>


        </TD>
        <TD>
        <IMG SRC="/static/modules/symsys/images/header-right.jpg" HEIGHT="75" alt="Right Header" WIDTH="133"
        ALIGN="RIGHT" BORDER="0" NATURALSIZEFLAG="0">
        </TD>
</TR>

<!-- Begin divider -->

<tr>
        <td colspan=2 bgcolor=a30008>
        <img src="/static/modules/symsys/images/clear.gif" width=1 height=6 alt="Clear image"><br>
        </td>
</tr>
</table>

<!-- Begin main body -->

<table border=0 cellpadding=10 cellspacing=0 width="100%">
<tr valign=top>
        <td width="1%">




<table cellspacing=0 cellpadding=0 border=0>
        <tr>
        <td valign=top align=right width=5>
                <img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" border=0>
        </td>
        <td colspan = "2">
            <span class=nav_menu_header>
            <a href="ssp_welcome">
            Welcome!</a>
            </span>
        </td>
        </tr>

        <tr>
        <td></td>
        <td valign=top width=10><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
        <td>
            <span class=nav_menu_item>
                    <a href="/ssp_static?page=ssp-description/expl1.html">
                        What Is SSP?</a>
                        </span>

                <tr>
                <td></td>
                <td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
                <td>
        <span class=nav_menu_item>
                <a href="/ssp_static?page=genInfo.html">Contact Information</a>
                </span>
                </td>
                </tr>

        <tr>
                <td></td>
                <td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
                <td>
        <span class=nav_menu_item>
                <a href="/ssp_static?page=admissions2.html">Admissions</a>
                </span>
                </td>
                </tr>


                <tr>
                <td></td>
                <td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
                <td>
        <span class=nav_menu_item>
                <a href="/ssp_static?page=degrees.html">Degrees</a>
                </span>
                </td>
                </tr>

</table>
<br>
                










<table cellspacing=0 cellpadding=0 border=0>
        <tr>
        <td valign=top align=right width=5>
                <img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" border=0>
        </td>
        <td colspan = "2">
           <span class=nav_menu_header>
           <B>Your Account</B>
           </span>            
        </td>
        </tr>
        
        

        <tr>        
        <td></td>
        <td valign=top ><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
        <td>
            <span class=nav_menu_item>
            {% ifequal cur_agent.item_type 'AnonymousAgent' %}
            <a href="/meta/login?redirect={{ full_path|urlencode }}">Sign In</a>
            {% else %}
            <a href="/meta/logout?redirect={{ full_path|urlencode }}">Sign Out</a>
            <!--You are logged in as: {{ cur_agent }}-->
            <!--[<a href="/meta/login?redirect={{ full_path|urlencode }}">Login As Someone Else</a>]-->
            {% endifequal %}
            </span>
        </td>
        </tr>
                
</table>
<br>











<table cellspacing=0 cellpadding=0 border=0>
        <tr>
        <td valign=top align=right width=5>
                <img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" border=0>
        </td>
        <td colspan = "2">
           <span class=nav_menu_header>
           <B><a href="ssp_people">People</a></B>
           </span>            
        </td>
        </tr>
        
        

        <tr>        
        <td></td>
        <td valign=top ><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
        <td>
            <span class=nav_menu_item>
            <a href="ssp_people?group=Students">Students</a> (<a href="ssp_people_full?group=Students">Expanded</a>)
            </span>
        </td>
        </tr>
                
        <tr>        
        <td></td>
        <td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
        <td>
            <span class=nav_menu_item>
            <a href="ssp_people?group=Alumni">Alumni</a> (<a href="ssp_people_full?group=Alumni">Expanded</a>)
            </span>
        </td>
        </tr>


        <tr>        
        <td></td>
        <td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
        <td>
            <span class=nav_menu_item>
            <a href="ssp_people?group=Faculty">Faculty</a> (<a href="ssp_people_full?group=Faculty">Expanded</a>)
            </span>
        </td>
        </tr>

        <tr>        
        <td></td>
        <td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
        <td>
            <span class=nav_menu_item>
            <a href="ssp_people?group=AdvisingFellows">Advising Fellows</a>
            </span>
        </td>
        </tr>

        <tr>        
        <td></td>
        <td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
        
    <td> <span class=nav_menu_item> 
      
      <a href="ssp_people?group=Administration">Administration</a> 
      
      </span> </td>
        </tr>

        <tr>        
        <td></td>
        <td valign=top width=10><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
        <td>
            <span class=nav_menu_item>
            <a href="ssp_facebook">SSP Facebook</a>
            </span>
        </td>
        </tr>
</table>
<br>
<table cellspacing=0 cellpadding=0 border=0>
        <tr>
        <td valign=top align=right width=5>
                <img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" border=0>
        </td>
        <td colspan = "2">
                <span class=nav_menu_header>
                <a href="/ssp_static?page=events.html">
                Events</a>
                </span>
        </td>
        
        
        
        </tr>
        <tr>
		<td></td>
		<td valign=top width=10><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
		<span class=nav_menu_item>
		<a href="ssp_events">SSP Calendar</a>
		</span>
		</td>
		</tr>

        <tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
        <span class=nav_menu_item>
		<a href="/ssp_static?page=forum.html">SSP_Forum</a>
		</span>
		</td>
		</tr>

		<tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
        <span class=nav_menu_item>
		<a href="http://www-csli.stanford.edu/events" target="_blank">CSLI Events</a>
		</span>
		</td>
		</tr>

		<tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
        <span class=nav_menu_item>
		<a href="http://events.stanford.edu" target="_blank">Events at Stanford</a>
		</span>
        </td>
        </tr>
</table>
<br>











<table cellspacing=0 cellpadding=0 border=0>
        <tr>
        <td valign=top align=right width=5>
                <img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" border=0>
        </td>
        <td colspan = "2">
                <span class=nav_menu_header>
                <a href="/ssp_static?page=courses.html"><b>Courses</b></a>        
                </span>
        </td>
        </tr>
        <tr>
		<td></td>
		<td valign=top width=10><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
		<span class=nav_menu_item>
		<a href="https://axess.stanford.edu/psp/psp_prd/EMPLOYEE/SA/e/?url=https%3a%2f%2fpsweb.stanford.edu%2fservlets%2ficlientservlet%2fa2k_prd%2f%3fICType%3dPanel%26Menu%3dSA_LEARNER_SERVICES%26Market%3dGBL%26PanelGroupName%3dCLASS_SEARCH" target="_blank">Course Schedule</a>
		</span>
		</td>
		</tr>
		
		<tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
        <span class=nav_menu_item>
		<a href="http://www.stanford.edu/dept/registrar/bulletin/bulletin07-08/pdf/SymbolicSys.pdf" target="_blank"> Course Descriptions</a>
		</span>
		</td>
		</tr>
		 
		<tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
        <span class=nav_menu_item> 
		<a href="ssp_courses">Course Websites</a><BR> 
        </span>
        </td>
        </tr>
</table>
<br>













<table cellspacing=0 cellpadding=0 border=0>
        <tr>
        <td valign=top align=right width=5>
                <img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" border=0>
        </td>
        <td colspan = "2">
                <span class=nav_menu_header>
                <a href="/ssp_static?page=research.html"><b>Research Opportunities</b></a>
                </span>
        </td>
        </tr>
        <tr>
		<td></td>
		<td valign=top width=10><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
		<span class=nav_menu_item>
		<a href="/ssp_static?page=choosehonor.html">Honors Program</a>
		</span>
		</td>
		</tr>
		
		<tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
        <span class=nav_menu_item>
		<a href="ssp_research">Academic Year Positions</a>
		</span>
		</td>
		</tr>
		
		<tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
        <span class=nav_menu_item>
		<a href="ssp_internships">Summer Internships</a>
		</span>
		</td>
		</tr>
		
		<tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
		<span class=nav_menu_item>
		<a href="ssp_other_research">Other Opportunities</a>
		
		</span>
		</td>
		</tr>
		
		
		<tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
        <span class=nav_menu_item>
		<a href="http://urp.stanford.edu" target="_blank">Stanford URP Office</a>
		</span>
            </td>
            </tr>
			
	    
		
</table>
<br>











<table cellspacing=0 cellpadding=0 border=0>
        <tr>
        <td valign=top align=right width=5>
                <img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" border=0>
        </td>
        <td colspan = "2">
                <span class=nav_menu_header>
                <a href="/ssp_static?page=jobs.html"><b>Career Resources</b></a>
                </span>
        </td>
        </tr>
        <tr>
		<td></td>
		<td valign=top width=10><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
		<span class=nav_menu_item>
		<a href="ssp_jobs">SSP Jobs Database</a>
		</span>
		</td>
		</tr>

		<tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		
    <td> <span class=nav_menu_item> <a href="/ssp_static?page=otherjobs.html">Other Resources
      </a> </span> </td>
		</tr>

		<tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
        <span class=nav_menu_item>
		<a href="ssp_admin_jobs_create?action=create">List a Job</a>
		</span>
        </td>
        </tr>
        
        <tr>
		<td></td>
		<td valign=top><img src="/static/modules/symsys/images/bullet.gif" alt="+" border=0></td>
		<td>
        <span class=nav_menu_item>
		<a href="http://cardinalrecruiting.stanford.edu/employers/" target="_blank">CDC Listing Service</a>
		</span>
        </td>
        </tr>
</table>
<br><p>









                <img src="/static/modules/symsys/images/clear.gif" alt="Clear image" width=155
height=1 border=0>
        </td>
        <td>
                <TABLE BORDER="0" WIDTH=95%
                 CELLLPADDING="5" CELLSPACING="0">
                <TR>
                        <TD align=left>
                        <div class=maincontent>
<h1 style="border-bottom: 3px solid #246; color: #369; margin-bottom: 10px;">{% block title %}{% endblock %}</h1>
{% block content %}
{% endblock %}
</div>
</tr></td></table>
<P>
<table border=0 cellspacing=0><tr height=20><td></td></tr></table>
<hr size=2 noshade>
<table border=0 width=100%><tr><td align="right">
<font size=1>
    Copyright &copy; {% now "Y" %} Symbolic Systems Program at Stanford
University.  Please contact our <a
href="mailto:ian.comfort@stanford.edu"><font color=0000BB>webmaster</font></a>
with any comments or corrections.
</td></tr></table>

</td>
</tr>
</table>
</body>
</html>
{% endautoescape %}

