{% load resource_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Symbolic Systems Program</title>
<link href="/static/stylesheets/base.css" media="all" rel="Stylesheet" type="text/css" />
<link href="/static/modules/symsys/symsys.css" media="all" rel="Stylesheet" type="text/css" />
<link rel="shortcut icon" href="/static/modules/symsys/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="site">

<div class="header">

<div class="top_right">
    <div class="top_right_text">
    <form name="logout_form" style="display: inline;" method="post" action="{% url resource_collection viewer="authenticationmethod",action="login" %}?redirect={{ full_path|urlencode }}">
        <input type="hidden" name="login_type" value="logout" />
    </form>
    {% ifequal cur_agent.item_type 'AnonymousAgent' %}
    You are not logged in
    [<a href="{% url resource_collection viewer="authenticationmethod",action="login" %}?redirect={{ full_path|urlencode }}">Login</a>]
    {% else %}
    You are logged in as <a href="{{ cur_agent.get_absolute_url }}">{{ cur_agent.name }}</a>
    [<a href="#" onclick="document.forms['logout_form'].submit(); return false;">Logout</a>]
    [<a href="{% url resource_collection viewer="authenticationmethod",action="login" %}?redirect={{ full_path|urlencode }}">Login As Someone Else</a>]
    {% endifequal %}
    </div>
    <div class="top_right_search">
    <form method="get" action="{% url resource_collection viewer="item" %}">
    <input type="search" id="search_box" name="q" value="{{ search_query }}" style="width: 20em;" />
    </form>
    </div>
    <script>
        var search_box_changed = {% if search_query %}true{% else %}false{% endif %};
        var search_box = document.getElementById('search_box');
        search_box.onfocus = function(e){
            if (!search_box_changed) {
                search_box_changed = true;
                search_box.value = '';
                search_box.style.color = 'inherit';
            }
        };
        search_box.onblur = function(e){
            if (search_box.value == '') {
                search_box_changed = false;
                search_box.value = 'Search';
                search_box.style.color = '#777';
            }
        };
        search_box.onblur();
    </script>
</div>

<div class="title"><img src="/static/modules/symsys/images/SU_Seal_Blk_pos_purple64.png" /> Symbolic Systems Program</div>

<div style="clear: both;"></div>
</div>

<ul class="tabnav">
    <li{% ifequal full_path "/"%} class="tabhighlighted"{% endifequal %}><a href="/">Home</a></li>
    <li{% ifequal full_path "/ssp_people"%} class="tabhighlighted"{% endifequal %}><a href="/ssp_people">People</a></li>
    <li{% ifequal full_path "/ssp_events"%} class="tabhighlighted"{% endifequal %}><a href="/ssp_events">Events</a></li>
    <li{% ifequal full_path "/ssp_courses"%} class="tabhighlighted"{% endifequal %}><a href="/ssp_courses">Courses</a></li>
    <li{% ifequal full_path "/ssp_research"%} class="tabhighlighted"{% endifequal %}><a href="/ssp_research">Research</a></li>
    <li{% ifequal full_path "/ssp_careers"%} class="tabhighlighted"{% endifequal %}><a href="/ssp_careers">Careers</a></li>
</ul>

<div class="content_box">
{% if layout_permissions_problem %}
<div style="color: #a00; padding: 15px; margin: 15px; border: thin dotted #a00; text-align: center;">
    Permissions Error: You are not authorized to view the layout, so this page is being displayed in the default layout.
</div>
{% endif %}






<table cellspacing="0" width="100%">
<tr>

<td width="1%" style="vertical-align: top; border: thin solid #aaa; background: #eee; padding: 5px;">




<table cellspacing="0">

    <tr>
    <td style="vertical-align: top;"><img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" /></td>
    <td colspan="2" class="nav_menu_header">
        <a href="ssp_welcome">Welcome!</a>
    </td>
    </tr>

    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="/ssp_static?page=ssp-description/expl1.html">What Is SSP?</a>
    </td>
    </tr>

    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="/ssp_static?page=genInfo.html">Contact Information</a>
    </td>
    </tr>

    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="/ssp_static?page=admissions2.html">Admissions</a>
    </td>
    </tr>


    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="/ssp_static?page=degrees.html">Degrees</a>
    </td>
    </tr>

<tr><td>&nbsp;</td></tr>
            
    <tr>
    <td style="vertical-align: top;"><img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" /></td>
    <td colspan="2" class="nav_menu_header">
    <a href="ssp_people">People</a>
    </td>
    </tr>
    
    <tr>        
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_people?group=Students">Students</a> (<a href="ssp_people_full?group=Students">Expanded</a>)
    </td>
    </tr>
            
    <tr>        
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_people?group=Alumni">Alumni</a> (<a href="ssp_people_full?group=Alumni">Expanded</a>)
    </td>
    </tr>


    <tr>        
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_people?group=Faculty">Faculty</a> (<a href="ssp_people_full?group=Faculty">Expanded</a>)
    </td>
    </tr>

    <tr>        
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_people?group=AdvisingFellows">Advising Fellows</a>
    </td>
    </tr>

    <tr>        
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_people?group=Administration">Administration</a>
    </td>
    </tr>
    
    <tr>        
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_facebook">SSP Facebook</a>
    </td>
    </tr>

<tr><td>&nbsp;</td></tr>

    <tr>
    <td style="vertical-align: top;"><img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" /></td>            
    <td colspan="2" class="nav_menu_header">
    <a href="/ssp_static?page=events.html">Events</a>
    </td>
    
    
    
    </tr>
    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_events">SSP Calendar</a>
    </td>
    </tr>

    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="/ssp_static?page=forum.html">SSP_Forum</a>
    </td>
    </tr>

    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="http://www-csli.stanford.edu/events" target="_blank">CSLI Events</a>
    </td>
    </tr>

    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="http://events.stanford.edu" target="_blank">Events at Stanford</a>
    </td>
    </tr>

<tr><td>&nbsp;</td></tr>

    <tr>
    <td style="vertical-align: top;"><img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" /></td>            
    <td colspan="2" class="nav_menu_header">
    <a href="/ssp_static?page=courses.html">Courses</a>
    </td>
    </tr>

    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="" target="_blank">Course Schedule</a>
    </td>
    </tr>
    
    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="http://www.stanford.edu/dept/registrar/bulletin/bulletin07-08/pdf/SymbolicSys.pdf" target="_blank">Course Descriptions</a>
    </td>
    </tr>
     
    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item"> 
    <a href="ssp_courses">Course Websites</a><BR> 
    </td>
    </tr>

<tr><td>&nbsp;</td></tr>

    <tr>
    <td style="vertical-align: top;"><img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" /></td>            
    <td colspan="2" class="nav_menu_header">
    <a href="/ssp_static?page=research.html">Research Opportunities</a>
    </td>
    </tr>

    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="/ssp_static?page=choosehonor.html">Honors Program</a>
    </td>
    </tr>
    
    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_research">Academic Year Positions</a>
    </td>
    </tr>
    
    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_internships">Summer Internships</a>
    </td>
    </tr>
    
    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_other_research">Other Opportunities</a>
    </td>
    </tr>
    
    
    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="http://urp.stanford.edu" target="_blank">Stanford URP Office</a>
    </td>
    </tr>
        
<tr><td>&nbsp;</td></tr>

    <tr>
    <td style="vertical-align: top;"><img src="/static/modules/symsys/images/triangle_bullet.gif" alt="+" /></td>            
    <td colspan="2" class="nav_menu_header">
    <a href="/ssp_static?page=jobs.html">Career Resources</a>
    </td>
    </tr>

    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_jobs">SSP Jobs Database</a>
    </td>
    </tr>

    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class=nav_menu_item>
    <a href="/ssp_static?page=otherjobs.html">Other Resources</a>
    </td>
    </tr>

    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="ssp_admin_jobs_create?action=create">List a Job</a>
    </td>
    </tr>
    
    <tr>
    <td></td>
    <td style="vertical-align: top;" class="nav_menu_item">&raquo;</td>
    <td class="nav_menu_item">
    <a href="http://cardinalrecruiting.stanford.edu/employers/" target="_blank">CDC Listing Service</a>
    </td>
    </tr>

<tr><td>&nbsp;</td></tr>
</table>


<img src="/static/spacer.gif" alt="Clear image" width=155
height=1 border=0>

</td>

<td style="vertical-align: top; padding-left: 15px;">
<div class="subtitle">{% block title %}{% endblock %}</div>
{% block content %}
{% endblock %}
</td>
</tr>
</table>






</div>

<div class="footer">
    <p>Copyright &copy; {% now "Y" %} Symbolic Systems Program at Stanford University.</p>
    <p>Please contact our <a href="mailto:ian.comfort@stanford.edu">webmaster</a> with any comments or corrections.</p>
    <p>&nbsp;</p>
    <p>Stanford University</p>
    <p>Margaret Jacks Hall</p>
    <p>Bldg 460, Rm. 40E</p>
    <p>650-723-0950</p>
</div>

</div>

</body>
</html>

