{% extends layout %}
{% load item_tags %}
{% load air_extras %}
{% block content %}

{% ifagentcan 'comment_on' item %}
<p><a href="{% url item_url viewer="discussionboard",action="newdiscussion",noun=item.pk %}" class="btn">Create a new discussion</a></p>
{% endifagentcan %}

<table class="table table-striped table-discussion">
    <tr>
        <th class="topics">Discussion Topics</td>
        <th class="replies">Replies</td>
        <th class="last-post">Last Post</td></tr>
    </tr>
    {% for discussion in discussions %}
    <tr>
        <td>
            <a href="{% url item_url viewer="discussionboardcomment",action="show",noun=discussion.comment.pk %}?discussion_board={{ item.pk }}">{{ discussion.comment.name|truncatewords:10 }}</a>
            <br />
            <nobr>By {% viewable_name discussion.comment.creator %}</nobr>
        </td>
        <td>
            {{ discussion.num_replies }}
        </td>
        <td>
            {% if discussion.last_post %}
                <nobr>By {% viewable_name discussion.last_post.creator %}</nobr>
                <br />
                <nobr>{{ discussion.last_post.created_at }}</nobr>
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% ifagentcan 'comment_on' item %}
<p><a href="{% url item_url viewer="discussionboard",action="newdiscussion",noun=item.pk %}" class="btn">Create a new discussion</a></p>
{% endifagentcan %}

{% endblock content %}