{% extends layout %}
{% load newsroll_extras %}
{% load item_tags %}
{% block favicon %}{{ item|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item|icon_url:24 }}" /> {% viewable_name item %}{% endblock %}
{% block content %}

{% subclassfields %}

{% for details in members %}

    <div style="margin-bottom: 2px; border: thin #ccc solid; background: #eee; -moz-border-radius: 8px; padding: 2px;">
        <div style="font-weight: bold;">
            <a href="{{ details.url }}">{% viewable_name details.member %}</a> 
        </div>
        
        {% if details.display_body %}
            {% ifagentcan 'view TextDocument.body' details.member %}
                {% if details.is_html %}
                    {{ details.body|safe|truncatewords_html:50 }}

                {% else %}
                    <div>
                        {{ details.body|truncatewords:50 }} 
                    </div>
                {% endif %}
           {% endifagentcan %}    
        {% endif %}
        
        <div>
            Posted
            {% ifagentcan 'view Item.creator' details.member %}
                by <a href="{{ details.creator_url }}">{{ details.creator }}</a> 
            {% endifagentcan %}

            {% ifagentcan 'view Item.created_at' details.member %}
                <span title="{{ details.created_at|date:"Y-m-d H:m:s" }}" style="width: 13em; display: inline-block;">
                    {{ details.created_at|timesince }} ago
                </span>
            {% endifagentcan %}
        </div>

    </div>

{% endfor %}

{% endblock content %}

