{% extends layout %}
{% load newsroll_extras %}
{% load item_tags %}
{% block title %}<img src="{{ item|icon_url:24 }}" /> {% viewable_name item %}{% endblock %}
{% block content %}

{% for details in members.object_list %}

    <div style="border: thin #ccc solid; background: #eee; -moz-border-radius: 8px; padding: 2px">
        <div style="font-weight: bold;">
            <a href="{{ details.url }}">{% viewable_name details.member %}</a> 
        </div>
        
        {% if details.display_body %}
            {% ifagentcan 'view TextDocument.body' details.member %}
                {% if details.is_html %}
                    {{ details.body|safe|truncatewords_html:50 }}

                {% else %}
                    <div>
                        {{ details.body|truncatewords:50 }} 
                    </div>
                {% endif %}
                
                <br><a href="{{ details.url }}"> Full Article </a>
           {% endifagentcan %}    
        {% endif %}
        
        <div>
            Posted
            {% ifagentcan 'view Item.creator' details.member %}
                by <a href="{{ details.creator_url }}">{{ details.creator }}</a> 
            {% endifagentcan %}

            {% ifagentcan 'view Item.created_at' details.member %}
                <span title="{{ details.created_at|date:"Y-m-d H:m:s" }}" style="width: 13em; display: inline-block;">
                    {{ details.created_at|timesince }} ago
                </span>
            {% endifagentcan %}
        </div>

    </div>

    <div style="border: 1px solid #aaa; margin-bottom: 8px; margin-top: 8px;"></div>

{% endfor %}
<div style="border-bottom: 2px solid #aaa; margin-bottom: 8px; padding-bottom: 8px; text-align: center;">
{% if members.has_previous %}
<a href="?page={{ members.previous_page_number }}"> ~ Prev |</a>
{% endif %}
    {% for page in page_range %}
        {% ifequal page members.number %} 
            {{ members.number }}
        {% endifequal %}

        {% ifnotequal page members.number %}
            <a href="?page={{ page }}">{{ page }}</a>
        {% endifnotequal %}    
    {% endfor %}
{% if members.has_next %}
<a href="?page={{ members.next_page_number }}">| Next ~</a>
{% endif %}
</div>
<div style="text-align: center; padding-left: 35px; padding-bottom: 8px;">
    {% ifagentcan 'modify_membership' collection %}
        <a href="{% url item_type_url viewer="htmldocument",action="new" %}?add_to_collection={{ collection.pk }}&redirect={{ redirect|urlencode }}">Create A New Entry ||</a> 
    {% endifagentcan %}

    <a href="{% url item_type_url viewer="item",action="list.rss" %}?collection={{ collection.pk }}"> View this Listing's RSS Feed</a>
</div>
<div style="text-align: center; border-top: 2px solid #aaa; padding: 8px;">
    View this collection in a <a href="{% url item_url viewer="collection",action="show",noun=item.pk %}">more compressed format</a>
</div>

{% endblock content %}

