{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item.item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item.item_type|icon_url:48 }}" /> List - SymsysAffiliate{% endblock %}
{% block content %}

<p>Please choose a group of people related to the Symbolic Systems Program to list:</p>
<ul>
    <li><a href="ssp_people?group=Students">Students</a></li>
    <li><a href="ssp_people?group=Alumni">Alumni</a></li>
    <li><a href="ssp_people?group=Faculty">Faculty</a></li>
    <li><a href="ssp_people?group=AdvisingFellows">Advising Fellows</a></li>
    <li><a href="ssp_people?group=Administration">Administration</a></li>
</ul>
<p>You can also browse the <a href="ssp_facebook">SSP Facebook</a>.</p>
</div>


{% endblock content %}

