{% extends layout %}
{% load symsys_extras %}
{% load item_tags %}
{% block title %}<img src="{{ item|icon_url:24 }}" /> {% viewable_name item %}{% endblock %}
{% block content %}

<style type="text/css">

    .outerlist{
        padding: 2px 3px 2px 2px;
        border: 1px grey solid;
        margin-bottom: 7px;
    }
</style>

{% subclassfields %}
<ul style="list-style-type: none; margin: 10px; padding: 0;">

    {% ifagentcan 'view Person.first_name' item %}
    {% ifagentcan 'view Person.middle_names' item %}
    {% ifagentcan 'view Person.last_name' item %}
    {% ifagentcan 'view Person.suffix' item %}
    <li class="outerlist">
    <b>Full Name: </b> 
    {% if item.first_name %}
        {{ item.first_name }}
    {% endif %}
    {% if item.middle_names %}
        {{ item.middle_names }}
    {% endif %}
    {% if item.last_name %}
        {{ item.last_name }}
    {% endif %}
    {% if item.suffix %}
        {{ item.suffix }}
    {% endif %}
    </li>
    {% endifagentcan %}
    {% endifagentcan %}
    {% endifagentcan %}
    {% endifagentcan %}

    {% if item.photo %}
    {% if item.photo.active %}
    {% ifagentcan 'view SymsysAffiliate.photo' item %}
    {% ifagentcan 'view FileDocument.datafile' item.photo %}
    <li class="outerlist">
        <a href="{{ item.photo.get_absolute_url }}"><img src="{{ item.photo.datafile.url }}" style="border: thick solid #000; max-width: 150px; max-height: 150px;" /></a>
        </li>
    {% endifagentcan %}
    {% endifagentcan %}
    {% endif %}
    {% endif %}

    {% ifagentcan 'view SymsysAffiliate.w_organization' item %}
    {% if item.w_organization %}
        <li class="outerlist">
        <b>Work organization:</b>
        {{ item.w_organization }}
        </li>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view SymsysAffiliate.w_position' item %}
    {% if item.w_position %}
        <li class="outerlist">
        <b>Work position:</b>
        {{ item.w_position }}
        </li>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view SymsysAffiliate.background' item %}
    {% if item.background %}
        <li class="outerlist">
        <b>Background:</b>
        {{ item.background|linebreaksbr|urlize }}
        </li>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view SymsysAffiliate.doing_now' item %}
    {% if item.doing_now %}
        <li class="outerlist">
        <b>Doing Now:</b>
        {{ item.doing_now|linebreaksbr|urlize }}
        </li>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view SymsysAffiliate.interests' item %}
    {% if item.interests %}
        <li class="outerlist">
        <b>Interests:</b>
        {{ item.interests|linebreaksbr|urlize }}
        </li>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view SymsysAffiliate.publications' item %}
    {% if item.publications %}
        <li class="outerlist">
        <b>Publications:</b>
        {{ item.publications|linebreaksbr|urlize }}
        </li>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view SymsysAffiliate.office_hours' item %}
    {% if item.office_hours %}
        <li class="outerlist">
        <b>Office hours:</b>
        {{ item.office_hours|linebreaksbr|urlize }}
        </li>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view SymsysAffiliate.about' item %}
    {% if item.about %}
        <li class="outerlist">
        <b>About:</b>
        {{ item.about|linebreaksbr|urlize }}
        </li>
    {% endif %}
    {% endifagentcan %}

    {# TODO display them as fields, rather than a silly list #}
    <li class="outerlist">
    <b>{% viewable_name item %} is a member of:</b>
    <ul>
    {% for collection in containing_collections %}
    <li><a href="{{ collection.get_absolute_url }}">{% viewable_name collection %}</a></li>
    {% endfor %}
    </ul>
    </li>

    {# TODO display them more nicely, rather than simply embedded #}
    <li class="outerlist">
    <b>{% viewable_name item %}'s contact methods:</b>
    <ul>
    {% for contact_method in contact_methods %}
    <li>{{ contact_method }}</li>
    {% endfor %}
    </ul>
    </li>
    {# TODO display them more nicely, rather than simply embedded #}
    <li class="outerlist">
    <b>SymSys related occupations held by {% viewable_name item %}</b><br>
    {% for symsys_career in symsys_careers %}
        <a href="{{ symsys_career.get_absolute_url }}" style="margin-left: 15px; font-weight: bold;">{% viewable_name symsys_career %}:</a>
        {% embed symsys_career.get_default_viewer symsys_career %}
    {% endfor %}
    </li>

</ul>

{% endblock content %}

