{% extends layout %}
{% load symsys_extras %}
{% load item_tags %}
{% block favicon %}{{ item|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item|icon_url:48 }}" /> Show {% ifagentcan 'view' 'name' item %}{{ item.name }}{% else %}[PERMISSION DENIED]{% endifagentcan %}{% endblock %}
{% block content %}

{% itemheader %}

{% subclassfields %}

<table cellspacing="0" class="twocol">

    {% ifagentcan 'view' 'original_first_name' item %}
    {% if item.original_first_name %}
    <tr>
        <th>Original first name:</th>
        <td>{{ item.original_first_name }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'original_middle_names' item %}
    {% if item.original_middle_names %}
    <tr>
        <th>Original middle names:</th>
        <td>{{ item.original_middle_names }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'original_last_name' item %}
    {% if item.original_last_name %}
    <tr>
        <th>Original last name:</th>
        <td>{{ item.original_last_name }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'original_suffix' item %}
    {% if item.original_suffix %}
    <tr>
        <th>Original suffix:</th>
        <td>{{ item.original_suffix }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'first_name' item %}
    {% if item.first_name %}
    <tr>
        <th>First name:</th>
        <td>{{ item.first_name }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'middle_names' item %}
    {% if item.middle_names %}
    <tr>
        <th>Middle names:</th>
        <td>{{ item.middle_names }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'last_name' item %}
    {% if item.last_name %}
    <tr>
        <th>Last name:</th>
        <td>{{ item.last_name }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'suffix' item %}
    {% if item.suffix %}
    <tr>
        <th>Suffix:</th>
        <td>{{ item.suffix }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'suid' item %}
    {% if item.suid %}
    <tr>
        <th>SUID:</th>
        <td>{{ item.suid }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'first_affiliation_year' item %}
    {% if item.first_affiliation_year %}
    <tr>
        <th>First affiliation year:</th>
        <td>{{ item.first_affiliation_year }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'bs_graduation_year' item %}
    {% if item.bs_graduation_year %}
    <tr>
        <th>BS Graduation year:</th>
        <td>{{ item.bs_graduation_year }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'ms_graduation_year' item %}
    {% if item.ms_graduation_year %}
    <tr>
        <th>MS graduation year:</th>
        <td>{{ item.ms_graduation_year }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'academic_title' item %}
    {% if item.academic_title %}
    <tr>
        <th>Academic title:</th>
        <td>{{ item.academic_title }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'admin_title' item %}
    {% if item.admin_title %}
    <tr>
        <th>Admin title:</th>
        <td>{{ item.admin_title }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'advisor' item %}
    {% if item.advisor %}
    <tr>
        <th>Advisor:</th>
        <td>{{ item.advisor }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'honors_advisor' item %}
    {% if item.honors_advisor %}
    <tr>
        <th>Honors advisor:</th>
        <td>{{ item.honors_advisor }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'honors_second_reader' item %}
    {% if item.honors_second_reader %}
    <tr>
        <th>Honors second reader:</th>
        <td>{{ item.honors_second_reader }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'w_organization' item %}
    {% if item.w_organization %}
    <tr>
        <th>Work organization:</th>
        <td>{{ item.w_organization }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'w_position' item %}
    {% if item.w_position %}
    <tr>
        <th>Work position:</th>
        <td>{{ item.w_position }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'background' item %}
    {% if item.background %}
    <tr>
        <th>Background:</th>
        <td>{{ item.background|linebreaksbr|urlize }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'doing_now' item %}
    {% if item.doing_now %}
    <tr>
        <th>Doing Now:</th>
        <td>{{ item.doing_now|linebreaksbr|urlize }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'interests' item %}
    {% if item.interests %}
    <tr>
        <th>Interests:</th>
        <td>{{ item.interests|linebreaksbr|urlize }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'publications' item %}
    {% if item.publications %}
    <tr>
        <th>Publications:</th>
        <td>{{ item.publications|linebreaksbr|urlize }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'office_hours' item %}
    {% if item.office_hours %}
    <tr>
        <th>Office hours:</th>
        <td>{{ item.office_hours|linebreaksbr|urlize }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'about' item %}
    {% if item.about %}
    <tr>
        <th>About:</th>
        <td>{{ item.about|linebreaksbr|urlize }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'other_degrees' item %}
    {% if item.other_degrees %}
    <tr>
        <th>Other degrees:</th>
        <td>{{ item.other_degrees }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'indivdesignedconc' item %}
    {% if item.indivdesignedconc %}
    <tr>
        <th>Individually designed concentration:</th>
        <td>{{ item.indivdesignedconc }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'honors_thesis_title' item %}
    {% if item.honors_thesis_title %}
    <tr>
        <th>Honors thesis title:</th>
        <td>{{ item.honors_thesis_title }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'honors_thesis_filename' item %}
    {% if item.honors_thesis_filename %}
    <tr>
        <th>Honors thesis filename:</th>
        <td>{{ item.honors_thesis_filename }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'honors_thesis_url' item %}
    {% if item.honors_thesis_url %}
    <tr>
        <th>Honors thesis URL:</th>
        <td>{{ item.honors_thesis_url }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'ms_thesis_title' item %}
    {% if item.ms_thesis_title %}
    <tr>
        <th>MS thesis title:</th>
        <td>{{ item.ms_thesis_title }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'ms_thesis_filename' item %}
    {% if item.ms_thesis_filename %}
    <tr>
        <th>MS thesis filename:</th>
        <td>{{ item.ms_thesis_filename }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'ms_thesis_url' item %}
    {% if item.ms_thesis_url %}
    <tr>
        <th>MS thesis URL:</th>
        <td>{{ item.ms_thesis_url }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {% ifagentcan 'view' 'ms_idt' item %}
    {% if item.ms_idt %}
    <tr>
        <th>MS IDT:</th>
        <td>{{ item.ms_idt }}</td>
    </tr>
    {% endif %}
    {% endifagentcan %}

    {# TODO display them as fields, rather than a silly list #}
    {% for collection in containing_collections %}
    <tr>
        <th>Item Set:</th>
        <td><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></td>
    </tr>
    {% endfor %}

    {# TODO display them more nicely, rather than simply embedded #}
    {% for contact_method in contact_methods %}
    <tr>
        <th>Contact Method:</th>
        <td>{% embed contact_method.item_type.lower contact_method %}</td>
    </tr>
    {% endfor %}

    {% if item.then_image %}
    {% if item.then_image.active %}
    {% ifagentcan 'view' 'then_image' item %}
    {% ifagentcan 'view' 'datafile' item.then_image %}
    <tr>
        <th>Then image:</th>
        <td><a href="{{ item.then_image.get_absolute_url }}"><img src="/static/media/{{ item.then_image.datafile }}" style="border: thick solid #000; max-width: 150px; max-height: 150px;" /></a></td>
    </tr>
    {% endifagentcan %}
    {% endifagentcan %}
    {% else %}
    <tr>
        <th>Then image:</th>
        <td>Inactive</td>
    </tr>
    {% endif %}
    {% endif %}

    {% if item.now_image %}
    {% if item.now_image.active %}
    {% ifagentcan 'view' 'now_image' item %}
    {% ifagentcan 'view' 'datafile' item.now_image %}
    <tr>
        <th>Now image:</th>
        <td><a href="{{ item.now_image.get_absolute_url }}"><img src="/static/media/{{ item.now_image.datafile }}" style="border: thick solid #000; max-width: 150px; max-height: 150px;" /></a></td>
    </tr>
    {% endifagentcan %}
    {% endifagentcan %}
    {% else %}
    <tr>
        <th>Now image:</th>
        <td>Inactive</td>
    </tr>
    {% endif %}
    {% endif %}

</table>

<h2>Comments</h2>
{% commentbox %}

{% endblock content %}

