{% extends layout %}
{% load item_tags %}
{% block title-section %}{% endblock %}

{% block content %}
<div class="group-profile container">
  <div class="header row">
    <div class="col col-lg-2 thumb" style="background-image:url('{% if item.image %}
  	{% ifagentcan 'view Group.image' item %}
  	{% ifagentcan 'view FileDocument.datafile' item.image %}{{ item.image.datafile.url }}{% endifagentcan %}
  	{% endifagentcan %}
  	{% else %}{{ item.actual_item_type|icon_url:128 }}{% endif %}')">
  	</div>
  	<div class="col col-lg-10">
  	 <h1 class="title">{% viewable_name item %}</h1>
  	 {% ifagentcan 'view Item.description' item %}
   	 <p>{{ item.description }}</p>
  	 {% endifagentcan %}
  	</div>
  </div>

  <div class="members row">
  {% for member in members %}
    <div id="member{{ member.item.pk }}" class="member col-lg-3">
      <a href="{{ member.item.get_absolute_url }}">
      <div class="thumb profile-pic"
        {% if member.photo %} style="background-image: url('{{ member.photo.datafile.url }}')"{% endif %}
      ></div>
      </a>
      <p class="name"><a href="{{ member.item.get_absolute_url }}">{% viewable_name member.item %}</a></p>
    </div>
  {% endfor %}
  </div>

  <div class="pagination row">
    <div class="col col-lg-12">
    {% if members.has_previous %}
    <a href="?page={{ members.previous_page_number }}">Prev |</a>
    {% endif %}
    {% if page_range|length > 1 %}
        {% for page in page_range %}
            {% ifequal page members.number %}
                {{ members.number }}
            {% endifequal %}

            {% ifnotequal page members.number %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endifnotequal %}
        {% endfor %}
    {% endif %}
    {% if members.has_next %}
    <a href="?page={{ members.next_page_number }}">| Next</a>
    {% endif %}
    </div>
  </div>

  <div class="collection-view">
      {% embed 'collection' item %}
  </div>

  <!--
  <div style="font-size: larger; margin-left: 58% "><a>All</a><a style="margin-left:1em">Individuals</a> <a style="margin-left:1em;">Subgroups </a></div>
  -->

  {% if folio %}
  <div class="folio">
    <p><a href="{{ folio.get_absolute_url }}">Group Folio</a></p>
    {% embed 'folio' folio %}
  </div>
  {% endif %}

</div>
{% endblock content %}

