{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item.item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item.item_type|icon_url:48 }}" /> {% ifagentcan 'view' 'name' item %}{{ item.name }}{% else %}[PERMISSION DENIED]{% endifagentcan %}{% endblock %}
{% block content %}

{% itemheader %}

<div style="margin-bottom: 10px;">
    <a href="/resource/groupmembership/new?group={{ item.pk }}&redirect={{ full_path|urlencode }}">[Add Agent]</a>
</div>

<h2>Group Agents</h2>
<div style="border: 1px solid #666; padding: 15px;">
    {% if item.group_memberships_as_group.all %}
    <table class="list">
        <tr>
            <th>Name</th>
            <th>Membership</th>
        </tr>
        {% for agent_relationship in item.group_memberships_as_group.all %}
        <tr class="{% cycle 'even' 'odd' %}">
            {% ifagentcan 'view' 'name' agent_relationship.agent %}
            <td><a href="{% show_resource_url agent_relationship.agent %}">{{ agent_relationship.agent.name }}</a></td>
            {% else %}
            <td><a href="{% show_resource_url agent_relationship.agent %}">[PERMISSION DENIED]</a></td>
            {% endifagentcan %}
            <td><a href="{% show_resource_url agent_relationship %}">{{ agent_relationship.pk }}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        No Agents In This Group
    {% endif %}
</div>

<h2>Group Folio</h2>
<div style="border: 1px solid #666; padding: 15px;">
{{ folio_html }}
</div>

<h2>Comments</h2>
{% commentbox %}

{% endblock content %}

