{% extends layout %}
{% load item_tags %}
{% block content %}

{% subclassfields %}

{% if folio %}
<div style="font-size: larger; margin: 10px 0 10px 0;"><a href="{{ folio.get_absolute_url }}">Folio</a></div>
<div style="padding: 10px; border: 2px solid #aaa;">
    {% embed 'folio' folio %}
</div>
{% endif %}

<div style="font-size: larger; margin: 10px 0 10px 0;">Roster</div>
<div style="padding: 10px; border: 2px solid #aaa;">
    {% embed 'collection' item %}
</div>

{% endblock content %}

