{% extends layout %}
{% load item_tags %}
{% block content %}
    <script src="{% media_url 'ajaxuploader/js/fileuploader.js' %}" ></script>
    <link href="{% media_url 'ajaxuploader/css/fileuploader.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <script>
        $(function(){
        var uploader = new qq.FileUploader({
            action: "{% url 'item_type_url' viewer=viewer_name action="multiuploadajax" %}",
            element: $('#file-uploader')[0],
            multiple: true,
            onComplete: function(id, fileName, responseJSON) {
                if(responseJSON.success) {
                    alert("success!");
                } else {
                    alert("upload failed!");
                }
            },
            onAllComplete: function(uploads) {
                // uploads is an array of maps
                // the maps look like this: {file: FileObject, response: JSONServerResponse}
                alert("All complete!");
            },
            params: {
                'csrf_token': '{{ csrf_token }}',
                'csrf_name': 'csrfmiddlewaretoken',
                'csrf_xname': 'X-CSRFToken',
            },
        });
        });
    </script>

    <div id="file-uploader">
        <noscript>
            <p>Please enable JavaScript to use file uploader.</p>
        </noscript>
    </div>
{% endblock content %}
