{% extends layout %}
{% load event_extras %}
{% load item_tags %}
{% block title %}<img src="{{ collection|icon_url:24 }}" /> {% viewable_name collection %}
<style type ="text/css">
     .calendar {
  border: 1px solid #556;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #eef;
}

.day { 
  width: 14%;
  color: #456;
  text-align: right;
  padding: 2px 4px 2px 2px;
}

.header {
    width: 14%
    text-align: right;
    
}

</style>
{% endblock %}
{% block content %}

<br>
<h3 align="center">{{ today|date:"M Y" }}</h3>

<div>
    <span style="text-align: left;">
        <a href="?month_offset={{ prev_month_offset }}">Previous Month</a>
    </span>
    <span style="text-align: right;">
        <a href="?month_offset={{ next_month_offset }}">Next Month</a>
    </span>
</div>

<table class="calendar">
    <tr class="header">
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
    </tr>
    
    <tbody>
    {% for weeks_events in week_list %}
        <tr valign="top">
            {% for days_events in weeks_events %}
                <td class="day"> 
                    {{ days_events.day.day }}
                    {% for event in days_events.cur_events %}
                        <div>
                            <a href="{{ event.url }}">{{ event.name }}</a>
                        </div>
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}    
    </tbody>

</table>

{% endblock %}
