{% extends layout %}
{% load event_extras %}
{% load item_tags %}
{% block title %}<img src="{{ collection|icon_url:24 }}" /> {% viewable_name collection %}
{% endblock %}
{% block content %}


<script type="text/javascript">
    function openDialog(name, edit_url)
    {
        var dialogBox = $("#" + name);
        dialogBox.dialog({
            autoOpen: false,
            bgiframe: true,
            modal: true,
            buttons: {
               //{% ifagentcan 'edit Item.name' collection %}
                 //   'Edit This Item': function(){ window.location = edit_url },
               //{% endifagentcan %}
               'Close': function(){$(this).dialog('close')}
            },
            close: function(event, ui) {dialogBox.dialog('destroy')}
        });
        dialogBox.dialog('open');
    }   

    function GoToMonth()
    {
        var month = document.getElementById("month_selector").value;
        var year = document.getElementById("year_selector").value;
        window.location = ('?month=' + month + '&year=' + year);
    }
</script>


<style type ="text/css">
     .calendar {
  border: 2px solid black;
  font-size: 93%;
  color: #000;
  cursor: default;
  background: #eef;
}

.day { 
  width: 14%;
  height: 70px;
  color: #456;
  text-align: right;
  vertical-align: top;
  padding: 2px 3px 2px 2px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.weekdays th{
    text-align: center;
}
</style>

<br>
<h3 align="center">{{ this_month|date:"M Y" }}</h3>

<div align="center">
    <a href="?year={{ prev_year }}&month={{ prev_month }}">~ Previous Month |</a>
    <a href="?year={{ next_year }}&month={{ next_month }}">| Next Month ~</a>
</div>

<table class="calendar">
    <tr class="weekdays">
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
    </tr>
    
    <tbody>
    {% for weeks_events in week_list %}
        <tr valign="top">
            {% for days_events in weeks_events %}
            <td class="day" {% if days_events.is_today %} style="background: lightblue;" {% endif %}> 
                    {% if days_events.in_cur_month %}
                        {{ days_events.day.day }}
                    {% else %}
                        <span style="color: silver;">
                            {{ days_events.day.day }}
                        </span>
                    {% endif %}

                    {% for event in days_events.cur_events %}
                    <div style="margin-bottom: 2px; border: thin #ccc solid; background: #fee; -moz-border-radius: 8px; padding: 1px; ">
                        {% if event.is_starting_date %}
                                {{ event.start_time|time:"P" }}
                        {% endif %}
                        <a href="#" onclick="openDialog('{{ event.pk }}-{{ days_events.day.day }}', '{{ event.edit_url }}'); return false;">{{ event.name }}</a>
                        <div id="{{ event.pk }}-{{ days_events.day.day }}" title="<a href='{{ event.url }}'>{{ event.name }}</a>" style="display: none;">
                                Start Time: {{ event.start_time|time:"P" }}
                                <p>Start Date: {{ event.start_date|date:"M d, Y" }}</p>
                                End Time: {{ event.end_time|time:"P" }}
                                <p>End Date: {{ event.end_date|date:"M d, Y" }}</p>
                                Location: {{ event.location }}
                                <p>Description: {{ event.body|safe }}</p>
                            </div>
                    </div>
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}    
    </tbody>

</table>
<form onsubmit="return false" action="" style="text-align: center; margin-right: 25px;">
    <b>Jump to a Month: </b>
    Month: <input type="text" id="month_selector" size=1 />
    Year: <input type="text" id="year_selector" size=2 />
    <input type="submit" value="Go!" onclick="GoToMonth();" />
</form>
<div style="text-align: center; font-size: 90%; margin-top: 3px;">
    The month must be a number between 1 and 12, and the year must be a 4 digit number
</div>
<div style="text-align: center; border-top: 1px solid black; padding: 4px; margin-top: 5px; margin-right: 40px;">
    {% ifagentcan 'modify_membership' collection %}
        <a href="{% url item_type_url viewer="event",action="new" %}?add_to_collection={{ collection.pk }}&redirect={{ redirect|urlencode }}">Add A New Event to this Calendar ||</a> 
    {% endifagentcan %}

     <a href="{% url item_url viewer="calendar" action="exportguide" noun=collection.pk %}">Export this Calendar</a> 
</div>

{% endblock %}
