{% load item_tags %}

<table id="jqgrid_list{{identifier}}"></table>
<div id="jqgrid_pager{{identifier}}"></div>
<div class="hide jqgrid_multitools" id="jqgrid_multitools{{identifier}}">
  {% ifagentcanglobal "create Membership" %}
  <button class="btn btn-info btn-sm action-add-to-collection" title="Add selected to a Collection"><i class="glyphicon glyphicon-plus-sign"></i> Add to a Collection</button>
  {% endifagentcanglobal %}
  {% if collection_item %}
  <button class="btn btn-warning btn-sm action-remove-from-collection" title="Remove selected from this Collection"><i class="glyphicon glyphicon-remove"></i> Remove from Collection</button>
  {% endif %}
  {% if inactive %}
  <button class="btn btn-success btn-sm action-reactivate" title="Reactivate selected items"><i class="glyphicon glyphicon-refresh"></i> Reactivate</button>
  <button class="btn btn-danger btn-sm action-destroy" title="Destroy selected items"><i class="glyphicon glyphicon-trash"></i> Destroy</button>
  {% else %}
  <button class="btn btn-warning btn-sm action-deactivate" title="Deactivate selected items"><i class="glyphicon glyphicon-trash"></i> Deactivate</button>
  {% endif %}
</div>
<script type="text/javascript">

$(document).ready(function () {
  var jqgrid_list = $("#jqgrid_list{{identifier}}");
  window.jql = jqgrid_list;
  var jqgrid_pager = $("#jqgrid_pager{{identifier}}");
  var multi = $('#jqgrid_multitools{{identifier}}');

  function checkMulti(){
    var sel = jqgrid_list.jqGrid('getGridParam','selarrrow');
    if (sel && sel.length > 0) {
      multi.removeClass('hide');
    } else {
      multi.addClass('hide');
    }
  }

  jqgrid_list.jqGrid({
    url: '{{url}}',
    postData: {{post_data_json}},
    datatype: "json",
    colNames: {{col_names_json}},
    colModel: {{col_model_json}},
    rowNum: 10,
    rowList: [10,20,50,100],
    viewrecords: true,
    pager: '#jqgrid_pager{{identifier}}',
    height: "100%",
    autowidth: true,
    {% if not modal %}
    multiselect: true,
    {% endif %}
    {% if collection_item %}
    {% ifagentcan 'modify_membership' item %}
    gridComplete: function(){
      var ids = $("#jqgrid_list{{ identifier }}").getDataIDs();
      for (var i = 0; i < ids.length; i++) {
        var id = ids[i];
        var deleteButton = '<button type="button" class="btn btn-sm btn-warning" onclick="$(\'#removememberform{{identifier}}\')[0].elements[0].value = '+id+'; $(\'#removememberform{{identifier}}\')[0].submit();" title="Remove From Collection"><span class="glyphicon glyphicon-remove"></span></button>';

        $("#jqgrid_list{{ identifier }}").setRowData(id, {actions: deleteButton});
      }
    },
    {% endifagentcan %}
    {% endif %}
    onSelectRow: function(){
      checkMulti();
    },
    onSelectAll: function(){
      checkMulti();
    }
  });
  jqgrid_list.on('jqGridRemapColumns', function(){
    $(window).trigger('resize');
  });
  jqgrid_list.jqGrid('navGrid','#jqgrid_pager{{identifier}}',{edit:false,add:false,del:false});
  jqgrid_list.jqGrid('navButtonAdd',"#jqgrid_pager{{identifier}}",{caption:"",title:"Choose columns",buttonicon:"ui-icon-gear",onClickButton:function(){jqgrid_list.jqGrid('columnChooser',{});}});
  {% if collection_item %}
    {% ifagentcan 'modify_membership' collection_item %}
    jqgrid_list.jqGrid('navButtonAdd',"#jqgrid_pager{{identifier}}",{caption:"Add",title:"Add an item to {% viewable_name collection_item %}",buttonicon:"ui-icon-circle-plus",onClickButton:function(){openDialogBox('addmember{{collection_item.pk}}');}})
    {% endifagentcan %}

    {% if collection_is_group %}
      {% if cur_agent_in_collection %}
      {% ifagentcan 'remove_self' collection_item %}
      jqgrid_list.jqGrid('navButtonAdd',"#jqgrid_pager{{identifier}}",{caption:"Leave",title:"Remove my membership in {% viewable_name collection_item %}",buttonicon:"ui-icon-person",onClickButton:function(){$('#removeselfform{{identifier}}')[0].submit();}})
      {% endifagentcan %}
      {% else %}
      {% ifagentcan 'add_self' collection_item %}
      jqgrid_list.jqGrid('navButtonAdd',"#jqgrid_pager{{identifier}}",{caption:"Join",title:"Become a member of {% viewable_name collection_item %}",buttonicon:"ui-icon-person",onClickButton:function(){$('#addselfform{{identifier}}')[0].submit();}})
      {% endifagentcan %}
      {% endif %}
    {% endif %}
  {% endif %}

  // multi actions
  multi.on('click', '.action-add-to-collection', function(e){
    e.preventDefault();
    var sel = jqgrid_list.jqGrid('getGridParam','selarrrow');
    // populate vars
    $('#multiadd{{identifier}}').find('[name="items"]').val(sel);
    openDialogBox('multiadd{{identifier}}');
  });

  multi.on('click', '.action-reactivate', function(e){
    e.preventDefault();
    var reason = prompt("Please give a reason for reactivating these items:",' ');
    if (reason != null && $.trim(reason) != '') {
      var sel = jqgrid_list.jqGrid('getGridParam','selarrrow');
      var form = $('#reactivatemultiform{{identifier}}');
      form.find('[name="items"]').val(sel);
      form.find('[name="action_summary"]').val(reason);
      form.submit();
    } else if (reason == ' ') {
      alert('No reason was given so these items have NOT been reactivated.');
    }
  });

  multi.on('click', '.action-deactivate', function(e){
    e.preventDefault();
    var reason = prompt("Please give a reason for deactivating these items:",'');
    var sel = jqgrid_list.jqGrid('getGridParam','selarrrow');
    var form = $('#deactivatemultiform{{identifier}}');
    form.find('[name="items"]').val(sel);
    form.find('[name="action_summary"]').val(reason);
    form.submit();

  });

  multi.on('click', '.action-destroy', function(e){
    e.preventDefault();
    var confirm = prompt("THERE IS NO UNDO. If you really want to destroy these items, please type in DESTROY to confirm.");
    if (confirm == 'DESTROY') {
      var reason = prompt("Please give a reason for destroying these items:",' ');
      if (reason != null && $.trim(reason) != '') {
        var sel = jqgrid_list.jqGrid('getGridParam','selarrrow');
        var form = $('#destroymultiform{{identifier}}');
        form.find('[name="items"]').val(sel);
        form.find('[name="action_summary"]').val(reason);
        form.submit();
      } else if (reason == ' ') {
        alert('No reason was given so these items have NOT been destroyed.');
      }
    }
  });

  {% if collection_item %}
  multi.on('click', '.action-remove-from-collection', function(e){
    e.preventDefault();
    if (confirm("Are you sure you want to remove these items from this collection?")) {
      var sel = jqgrid_list.jqGrid('getGridParam','selarrrow');
      var form = $('#removemembermultiform{{identifier}}');
      form.find('[name="items"]').val(sel);
      form.submit();
    }
  });
  {% endif %}

});

function endsWith(str, suffix) {
    return str.indexOf(suffix, str.length - suffix.length) !== -1;
}

{% if modal and receiver_input_id %}
  $('.well-item-search').on('click', '.ui-jqgrid .jqgrow a', function(e){
    var link = $(this);
    if (endsWith(link.closest('td').attr('aria-describedby'),'_name')) {
      e.preventDefault();
      var data = {
        id: link.attr('data-id'),
        name: link.find('.name').text()
      };
      window.opener.ajaxModelChoiceWidgetUpdateValue("{{receiver_input_id}}", data);
      window.close();
    }
  });

  /**
  {% if src == "metadata" %}
  // reload the parent window
  if (window.opener.confirm('Reload to see new changes?')) {
    window.opener.location.reload();
  }
  window.close();
  {% endif %}
  **/
{% endif %}
</script>

<small class="jqgrid_hint"><b>Tip:</b> Use the <span class="ui-icon ui-icon-gear" style="display:inline-block"></span> Gear icon to choose what columns are shown.</small>

{% multiadddialog identifier %}

{% if inactive %}
  <form id="reactivatemultiform{{identifier}}" method="post" enctype="multipart/form-data" action="{% url 'item_type_url' viewer='item' action="reactivatemulti" %}?redirect={{ full_path|urlencode }}" class="item_form">
      <input type="hidden" name="items" value="" />
      <input type="hidden" name="action_summary" value="" />
  </form>
  <form id="destroymultiform{{identifier}}" method="post" enctype="multipart/form-data" action="{% url 'item_type_url' viewer='item' action="destroymulti" %}?redirect={{ full_path|urlencode }}" class="item_form">
      <input type="hidden" name="items" value="" />
      <input type="hidden" name="action_summary" value="" />
  </form>
{% else %}
  <form id="deactivatemultiform{{identifier}}" method="post" enctype="multipart/form-data" action="{% url 'item_type_url' viewer='item' action="deactivatemulti" %}?redirect={{ full_path|urlencode }}" class="item_form">
      <input type="hidden" name="items" value="" />
      <input type="hidden" name="action_summary" value="" />
  </form>
{% endif %}

{% if collection_item %}
  <form id="removememberform{{identifier}}" method="post" enctype="multipart/form-data" action="{% url 'item_url' viewer=collection_item.default_viewer action="removemember" noun=collection_item.pk %}?redirect={{ full_path|urlencode }}" style="display: none;">
      <input type="hidden" name="item" value="" />
  </form>

  <form id="removemembermultiform{{identifier}}" method="post" enctype="multipart/form-data" action="{% url 'item_url' viewer=collection_item.default_viewer action="removemembermulti" noun=collection_item.pk %}?redirect={{ full_path|urlencode }}" style="display: none;">
      <input type="hidden" name="items" value="" />
  </form>

  {% newmemberdialog %}

  <form id="removeselfform{{identifier}}" method="post" enctype="multipart/form-data" action="{% url 'item_url' viewer=collection_item.default_viewer action="removemember" noun=collection_item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
      <input type="hidden" name="item" value="{{ cur_agent.pk }}" />
  </form>

  <form id="addselfform{{identifier}}" method="post" enctype="multipart/form-data" action="{% url 'item_url' viewer=collection_item.default_viewer action="addmember" noun=collection_item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
      <input type="hidden" name="item" value="{{ cur_agent.pk }}" />
  </form>
{% endif %}
