{% extends layout %}
{% load item_tags %}
{% block favicon %}{{ accepted_item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ accepted_item_type|icon_url:48 }}" /> Modify DemeSettings{% endblock %}
{% block content %}

{% typeheader "Modify" %}

<form method="post" enctype="multipart/form-data" action="{% url item_type_url viewer="demesetting",action="addsetting" %}?redirect={{ full_path|urlencode }}" class="item_form">
    Key: <input type="text" name="key" />
    Value: <input type="text" name="value" />
    <button type="submit"><img src="{{ "checkbox"|icon_url:16 }}" /> <span>Set</span></button>
</form>

<table cellspacing="0" class="list" width="100%">
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    {% for deme_setting in deme_settings %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td><a href="{{ deme_setting.get_absolute_url }}">{{ deme_setting.key }}</a></td>
        {% if deme_setting.value|floatformat %}
        <td><a href="{% url item_url viewer="item",noun=deme_setting.value %}">{{ deme_setting.value }}</a></td>
        {% else %}
        <td>{{ deme_setting.value }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock content %}

