{% spaceless %}

{% ifequal obj.action_notice_type 'RelationActionNotice' %}
{{ obj.action_agent_name }} set the {{ obj.from_field_name }} field of {{ obj.from_item_name }} to {% if obj.relation_added %}now{% else %}no longer{% endif %} point to {{ obj.item_name }}
{% endifequal %}

{% ifequal obj.action_notice_type 'DeactivateActionNotice' %}
{{ obj.action_agent_name }} deactivated {{ obj.item_name }}
{% endifequal %}

{% ifequal obj.action_notice_type 'ReactivateActionNotice' %}
{{ obj.action_agent_name }} reactivated obj.item_name }}
{% endifequal %}

{% ifequal obj.action_notice_type 'DestroyActionNotice' %}
{{ obj.action_agent_name }} destroyed {{ obj.item_name }}
{% endifequal %}

{% ifequal obj.action_notice_type 'CreateActionNotice' %}
{{ obj.action_agent_name }} created {{ obj.item_name }}
{% endifequal %}

{% ifequal obj.action_notice_type 'EditActionNotice' %}
{{ obj.action_agent_name }} edited {{ obj.item_name }}
{% endifequal %}

{% endspaceless %}
