{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item.item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item.item_type|icon_url:48 }}" /> {% ifagentcan 'view' 'name' item %}{{ item.name }}{% else %}[PERMISSION DENIED]{% endifagentcan %}{% endblock %}
{% block content %}

{% itemheader %}

<div style="margin-bottom: 10px;">
    <a href="{% url resource_collection viewer="membership",collection_action="new" %}?itemset={{ item.pk }}&redirect={{ full_path|urlencode }}">[Add Item]</a>
</div>

{% if memberships %}
<table class="list">
    <tr>
        <th>Name</th>
        <th>Membership</th>
    </tr>
    {% for membership in memberships %}
    <tr class="{% cycle 'even' 'odd' %}">
        {% ifagentcan 'view' 'name' membership.item %}
        <td><a href="{% show_resource_url membership.item %}">{{ membership.item.name }}</a></td>
        {% else %}
        <td><a href="{% show_resource_url membership.item %}">[PERMISSION DENIED]</a></td>
        {% endifagentcan %}
        <td><a href="{% show_resource_url membership %}">{{ membership.pk }}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
    No Items In This ItemSet
{% endif %}

{% commentbox %}

{% endblock content %}

