{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item.item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item.item_type|icon_url:48 }}" /> {% ifagentcan 'view' 'name' item %}{{ item.name }}{% else %}[PERMISSION DENIED]{% endifagentcan %}{% endblock %}
{% block content %}

<script type="text/javascript" src="/static/javascripts/prototype.js"></script>

{% itemheader %}

{% ifagentcan 'modify_membership' '' item %}
<div style="margin-bottom: 10px;">
    Add an item:
    <form method="post" enctype="multipart/form-data" action="{% url resource_entry viewer=item_type|lower,entry_action="addmember",noun=item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
        <table>
            {{ addmember_form.as_table }}
        </table>
        <input type="submit" />
    </form>
</div>
{% endifagentcan %}

{% if memberships %}
<table class="list">
    <tr>
        <th>Name</th>
        <th>Membership</th>
    </tr>
    {% for membership in memberships %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td>
        {% ifagentcan 'view' 'name' membership.item %}
        <a href="{% show_resource_url membership.item %}">{{ membership.item.name }}</a>
        {% else %}
        <a href="{% show_resource_url membership.item %}">[PERMISSION DENIED]</a>
        {% endifagentcan %}
        </td>
        <td>
            <a href="{% show_resource_url membership %}">{{ membership.pk }}</a>
            {% ifagentcan 'modify_membership' '' item %}
            <form method="post" enctype="multipart/form-data" action="{% url resource_entry viewer=item_type|lower,entry_action="removemember",noun=item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
                <input type="hidden" name="item" value="{{ membership.item.pk }}" />
                <input type="submit" value="Remove" />
            </form>
            {% endifagentcan %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    No Items In This ItemSet
{% endif %}

{% commentbox %}

{% endblock content %}

