{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item.item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item.item_type|icon_url:48 }}" /> Show {{ item }}{% endblock %}
{% block content %}

<div class="crumbs">
    {% for inherited_item_type in item_type_inheritance %}
    <a href="/resource/{{ inherited_item_type|lower }}">{{ inherited_item_type }}s</a>
    &raquo;
    {% endfor %}
    <a href="{% show_resource_url item %}">{{ item }}</a>
    &raquo;
    Version {{ itemversion.version_number }}
</div>

<div style="margin-bottom: 10px;">
    <a href="/resource/{{ item.item_type|lower }}/{{ item.pk }}/edit">[Edit This ItemSet]</a>
    <a href="/resource/itemsetmembership/new?itemset={{ item.pk }}&redirect={{ full_path|urlencode }}">[Add Item]</a>
</div>

{% if item.itemset_memberships_as_itemset.all %}
<table class="list">
    <tr>
        <th>Name</th>
    </tr>
    {% for itemset_memebership in item.itemset_memberships_as_itemset.all %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td><a href="{% show_resource_url itemset_memebership.item %}">{{ itemset_memebership.item }}</a> (added {{ itemset_memebership.updated_at }}) with <a href="{% show_resource_url itemset_memebership %}">{{ itemset_memebership }}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
    No Items In This ItemSet
{% endif %}

<h2>Comments</h2>
<div>
    <a href="/resource/comment/new?commented_item={{ item.pk }}&commented_item_version={{ itemversion.pk }}&redirect={{ full_path|urlencode }}">Add Comment</a>
</div>
<div>
    {% for comment_info in comments %}
    <div style="margin-bottom: 5px; border: 1px solid #666; padding: 15px;">
        <div style="border-bottom: 1px solid #888;">
            <a href="/resource/{{ comment_info.comment.item_type|lower }}/{{ comment_info.comment.pk }}">{{ comment_info.comment }}</a>
            by <a href="{% show_resource_url comment_info.comment.creator %}">{{ comment_info.comment.creator }}</a>
            for <a href="{% show_resource_url comment_info.comment.commented_item_version %}">version {{ comment_info.comment.commented_item_version.version_number }}</a>
        </div>
        <div>
            {{ comment_info.comment.body }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}

