<li class="dropdown textsize-btn">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Text size"><i class="demeicon demeicon-text-size"></i></a>
  <div class="dropdown-menu">
      <div class="col col-lg-6 col-sm-6">
        <button class="btn btn-default btn-block smaller">A</button>
      </div>
      <div class="col col-lg-6 col-sm-6">
        <button class="btn btn-default btn-block bigger">A</button>
      </div>
      <div class="col col-lg-12 reset-wrap">
        <button class="btn btn-default btn-block reset">Reset to default</button>
      </div>
  </div>
</li>