{% extends layout %}
{% load item_tags %}

{% block title %}Getting Started with Deme{% endblock %}

{% block content %}
<h3>General</h3>
<ul>
  <li>Switch between Basic and Advanced Mode by clicking the <i class="glyphicon glyphicon-cog"></i> <b>Gear icon</b> at the top left of the page.</li>
  <li>Items represent most of the content on a Deme site. While in Advanced Mode, create a new item by clicking on the Actions menu, then <i class="glyphicon glyphicon-file"></i> <b>Create</b>. Other actions are also found here.</li>
  <li>Click the <i class="glyphicon glyphicon-info-sign"></i> <b>Metadata icon</b> to show and hide the Metadata pane. When viewing an item, the Metadata pane contains useful information about that particular item.
</ul>
<h3>Customizing Your Deme Site</h3>
<ul>
  <li><a href="{% url 'item_url' viewer='site' action="edit" noun=cur_site.pk %}">Edit the current site</a> to change the website title, logo, and more.</li>
  <li>Change the contents of the home page by <a href="/">going to the home page</a>, clicking on the Actions menu, then <i class="glyphicon glyphicon-edit"></i> <b>Edit</b>.</li>
  <li>See the <a href="http://deme.readthedocs.org">Technical Deme Guide</a> for details on advanced site customization.</li>
</ul>
{% endblock %}
<a href="{% url 'item_type_url' viewer='person' action="new" %}">