{% load item_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Deme</title>
<link href="/static/stylesheets/base.css" media="all" rel="Stylesheet" type="text/css" />
<link rel="shortcut icon" href="{% block favicon %}/static/favicon.ico{% endblock %}" type="image/x-icon">
</head>
<body>

<div class="site">

<div class="header">

<div class="top_right">
    <div class="top_right_text">
    <form name="logout_form" style="display: inline;" method="post" action="{% url item_type_url viewer="authenticationmethod",action="login" %}?redirect={{ full_path|urlencode }}">
        <input type="hidden" name="login_type" value="logout" />
    </form>
    {% ifequal cur_agent.item_type 'AnonymousAgent' %}
    You are not logged in
    [<a href="{% url item_type_url viewer="authenticationmethod",action="login" %}?redirect={{ full_path|urlencode }}">Login</a>]
    {% else %}
    You are logged in as <a href="{{ cur_agent.get_absolute_url }}">{{ cur_agent.name }}</a>
    [<a href="#" onclick="document.forms['logout_form'].submit(); return false;">Logout</a>]
    [<a href="{% url item_type_url viewer="authenticationmethod",action="login" %}?redirect={{ full_path|urlencode }}">Login As Someone Else</a>]
    {% endifequal %}
    </div>
    <div class="top_right_search">
    <form method="get" action="{% url item_type_url viewer="item" %}">
    <input type="search" id="search_box" name="q" value="{{ search_query }}" style="width: 20em;" />
    </form>
    </div>
    <script>
        var search_box_changed = {% if search_query %}true{% else %}false{% endif %};
        var search_box = document.getElementById('search_box');
        search_box.onfocus = function(e){
            if (!search_box_changed) {
                search_box_changed = true;
                search_box.value = '';
                search_box.style.color = 'inherit';
            }
        };
        search_box.onblur = function(e){
            if (search_box.value == '') {
                search_box_changed = false;
                search_box.value = 'Search';
                search_box.style.color = '#777';
            }
        };
        search_box.onblur();
    </script>
</div>

<div class="title">{% block title %}{% endblock %}</div>

<div style="clear: both;"></div>
</div>

<ul class="tabnav">
    <li{% ifequal full_path "/"%} class="tabhighlighted"{% endifequal %}><a href="/">Home</a></li>
    <li{% ifequal action "list" %}{% ifequal viewer_name "item" %} class="tabhighlighted"{% endifequal %}{% endifequal %}><a href="{% url item_type_url viewer="item" %}">Items</a></li>
    <li{% ifequal viewer_name "codegraph"%} class="tabhighlighted"{% endifequal %}><a href="{% url item_type_url viewer="codegraph" %}">Codegraph</a></li>
    <li><a href="/static/architecture.html">Architecture</a></li>
</ul>

<div class="content_box">
{% if layout_permissions_problem %}
<div style="color: #a00; padding: 15px; margin: 15px; border: thin dotted #a00; text-align: center;">
    Permissions Error: You are not authorized to view the layout, so this page is being displayed in the default layout.
</div>
{% endif %}
{% block content %}
{% endblock %}
</div>

<div class="footer">
    <p><a href="http://github.com/mikemintz/deme/tree/master">Source Code</a> <span class="pipe">|</span> <a href="http://www.stanford.edu/~davies/">Authors</a></p>
    <p>Copyright &copy;2008-{% now "Y" %} to Deme</p>
</div>

</div>

</body>
</html>

