{% extends layout %}
{% load item_tags %}
{% block content %}

{% if login_as_agents %}
<form action="{% url item_type_url viewer="authenticationmethod",action="login" %}?redirect={{ redirect|urlencode }}" method="post">
<div style="margin-top: 15px;">
    <input type="hidden" name="login_type" value="login_as" />
    You can also login as one of the following agents:
    <table cellspacing="0" class="list">
        <tr>
            <th>Name</th>
            <th>Login</th>
        </tr>
    {% for agent in login_as_agents %}
        {% if agent.active %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td>
                <a href="{{ agent.get_absolute_url }}">{% viewable_name agent %}</a>
            </td>
            <td>
                <button type="submit" name="login_as_{{ agent.pk }}"><img src="{{ "checkbox"|icon_url:16 }}" /> <span>Login</span></button>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
</form>
{% endif %}

{% endblock content %}

