{% extends layout %}
{% load resource_extras %}
{% block title %}Login{% endblock %}
{% block content %}

<form name="password_form" action="/meta/login?redirect={{ redirect_url|urlencode }}" method="post">
    <input type="hidden" name="login_type" value="password" />
    <div>
        Username (email): <input type="text" name="username" />
        Password: <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>

{% if login_as_agents %}
<form action="/meta/login?redirect={{ redirect_url|urlencode }}" method="post">
<div style="margin-top: 15px;">
    <input type="hidden" name="login_type" value="login_as" />
    You can also login as one of the following agents:
    <table class="list">
        <tr>
            <th>Name</th>
            <th>Login</th>
        </tr>
    {% for agent in login_as_agents %}
        {% if agent.trashed %}
        {% else %}
        <tr>
            <td>
                {% ifagentcan 'view' 'name' agent %}
                <a href="{% show_resource_url agent %}">{{ agent.name|default:"[Untitled]" }}</a>
                {% else %}
                <a href="{% show_resource_url agent %}">[PERMISSION DENIED]</a>
                {% endifagentcan %}
            </td>
            <td>
                <input type="submit" name="login_as_{{ agent.pk }}" value="Login" />
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
</form>
{% endif %}

{% endblock content %}

