{% extends layout %}
{% load item_tags %}
{% block title %}Login{% endblock %}
{% block content %}

<script type="text/javascript" src="/static/javascripts/prototype.js"></script>
<script type="text/javascript" src="/static/javascripts/sha1.js"></script>
<script type="text/javascript" src="/static/javascripts/mysql_pre41_password.js"></script>

<script type="text/javascript">

    function get_encrypted_password(raw_password, algo, salt, nonce) {
        var original_hashed_password;
        if (algo == 'sha1') {
            original_hashed_password = SHA1(salt + raw_password);
        } else if (algo == 'mysql_pre41_password') {
            original_hashed_password = mysql_pre41_password(raw_password);
        } else {
            return 'unknown algo: ' + algo;
        }
        return SHA1(nonce + original_hashed_password);
    }

    function encrypt_password() {
        var raw_password = document.forms['password_form']['password'].value;
        var url = '{% url item_type_url viewer="authenticationmethod",action="login" %}?getencryptionmethod=' + document.forms['password_form']['username'].value;
        new Ajax.Request(url, {method: 'get', onSuccess: function(transport) {
            var algo = transport.responseJSON.algo;
            var salt = transport.responseJSON.salt;
            var nonce = transport.responseJSON.nonce;
            var encrypted_password = get_encrypted_password(raw_password, algo, salt, nonce);
            document.forms['real_password_form']['hashed_password'].value = encrypted_password;
            document.forms['real_password_form']['username'].value = document.forms['password_form']['username'].value;
            document.forms['real_password_form'].submit();
        }});
    }
</script>

<form name="password_form" onsubmit="encrypt_password(); return false;">
    <div>
        Username (email): <input type="text" name="username" />
        Password: <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>

<form name="real_password_form" action="{% url item_type_url viewer="authenticationmethod",action="login" %}?redirect={{ redirect|urlencode }}" method="post">
    <input type="hidden" name="login_type" value="password" />
    <input type="hidden" name="username" />
    <input type="hidden" name="hashed_password" onchange="document.forms['password_form']['hashed_password'].value = '';" />
</form>

<form name="openid_form" action="{% url item_type_url viewer="authenticationmethod",action="login" %}?redirect={{ redirect|urlencode }}" method="post">
    <input type="hidden" name="login_type" value="openid" />
    <div>
        OpenID URL: <input type="text" name="openid_url" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>

{% if login_as_agents %}
<form action="{% url item_type_url viewer="authenticationmethod",action="login" %}?redirect={{ redirect|urlencode }}" method="post">
<div style="margin-top: 15px;">
    <input type="hidden" name="login_type" value="login_as" />
    You can also login as one of the following agents:
    <table cellspacing="0" class="list">
        <tr>
            <th>Name</th>
            <th>Login</th>
        </tr>
    {% for agent in login_as_agents %}
        {% if agent.trashed %}
        {% else %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td>
                {% ifagentcan 'view' 'name' agent %}
                <a href="{{ agent.get_absolute_url }}">{{ agent.name }}</a>
                {% else %}
                <a href="{{ agent.get_absolute_url }}">[PERMISSION DENIED]</a>
                {% endifagentcan %}
            </td>
            <td>
                <input type="submit" name="login_as_{{ agent.pk }}" value="Login" />
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
</form>
{% endif %}

{% endblock content %}

