{% extends "base_layout.html" %}

{% comment %}
Make a new DjangoTemplateDocument. Make sure "override default layout" is checked, and "layout" is blank.

Edit "Default Site" (or any other Site that you want to override the layout for). Set "default layout" to point to the DjangoTemplateDocument you just created.
{% endcomment %}


{% block body_wrap %}
  {% if cur_agent.is_anonymous %}
    {% include "demeaccount/required_login_include.html" %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock body_wrap %}

{% block banner-section %}
  <div class="banner-section">
    <h3>Generic website banner text</h3>
  </div>
{% endblock banner-section %}

{% block custom_css %}
  .page-layout .logo-section a.logo {
    background: darkred;
  }
  .page-layout .logo-section a.logo:hover {
    background: red;
  }
  .nav-tabs > li > a {
    border-color: #f3f3f3;
    border-bottom-color: transparent;
  }
{% endblock %}

{% block tabs-section %}
  <div class="tabs-section">
    <ul class="nav nav-tabs">
      <li {% ifequal full_path "/" %}class="active"{% endifequal %}><a href="/">1: Welcome</a></li>
      <li {% ifequal full_path "/viewing/discussion/9" %}class="active"{% endifequal %}><a href="/viewing/discussion/9">2: Discussion</a></li>
      <li {% ifequal full_path "/viewing/agreedisagreepoll" %}class="active"{% endifequal %}><a href="/viewing/agreedisagreepoll">3: Polls</a></li>
      <li {% ifequal full_path "/viewing/djangotemplatedocument/8" %}class="active"{% endifequal %}><a href="/viewing/djangotemplatedocument/8">4: Sample Layout</a></li>
    </ul>
  </div>
{% endblock tabs-section %}

{% block chat %}{% endblock %}