{% extends "base_layout.html" %}

{% comment %}
Make a new DjangoTemplateDocument. Make sure "override default layout" is checked, and "layout" is blank.

Edit "Default Site" (or any other Site that you want to override the layout for). Set "default layout" to point to the DjangoTemplateDocument you just created.
{% endcomment %}


{% block body_wrap %}
  {% if cur_agent.is_anonymous %}
    {% include "demeaccount/required_login_include.html" %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock body_wrap %}

{% block logo-section %}
<div class="logo-section">
  <a href="/" class="logo"><h1>Logo</h1></a>
</div>
{% endblock logo-section %}

{% block banner-section %}
  <div class="banner-section">
    <h3>Generic website banner text</h3>
  </div>
{% endblock banner-section %}

{% block custom_css %}
  .page-layout .logo-section a.logo {
  background: red;
  }
  .page-layout .logo-section a.logo:hover {
  background: orange;
  }
  .xyz123 {
  border-bottom: thick solid #ccc;
  margin-bottom: 0;
  }
  .xyz123 li {
  border: thin solid #ccc; border-radius: 10px 10px 0 0; background: #eee; font-family: Georgia; font-weight: bold; font-size: larger;
  }
  .xyz123 li a {
  color: #444;
  }
  .xyz123 li a.xyzhighlighted {
  background: #def;
  }
{% endblock %}

{% block tabs-section %}
  <ul class="nav nav-pills xyz123">
    <li><a href="/" {% ifequal full_path "/" %}class="xyzhighlighted"{% endifequal %}>Welcome</a></li>
    <li><a href="/viewing/discussion/25" {% ifequal full_path "/viewing/discussion/25" %}class="xyzhighlighted"{% endifequal %}>Discussion</a></li>
    <li><a href="/viewing/agreedisagreepoll" {% ifequal full_path "/viewing/agreedisagreepoll" %}class="xyzhighlighted"{% endifequal %}>Polls</a></li>
  </ul>
{% endblock tabs-section %}

{% block chat %}{% endblock %}