.adminbar {
  filter: none;
  .nav {
    > li > a {
      border-right: 1px solid #3b7285; //fade(@black, 15%);
      border-left:  1px solid #6aa0b2; //fade(@white, 15%);
      &:active, &.active, &:hover.active {
        filter: none;
      }
    }
    .dropdown.open {
      > a {
        filter: none;
      }
    }
    &.breadcrumbs {
      > li {
        filter: none;
      }
    }
    &.actions-wrap {
      filter: none;
    }
  }
}

.modal-backdrop {
	background-color: transparent;
	background-image: url('../img/black-50.png');
}

input[type="text"],
input[type="email"] {
	line-height: 3em;
	padding-top: 0;
	padding-bottom: 0;
}