{% extends layout %}
{% load item_tags %}
{% block content %}

{% subclassfields %}

{% ifagentcan 'add_sub_path' item %}
<a href="{% url item_type_url viewer="customurl",action="new"%}?parent_url={{ item.pk }}">Add sub path</a>
{% endifagentcan %}

<table cellspacing="0" class="twocol">
    {% if custom_urls %}
    <tr>
        <th>Path</th>
        <td>&lt;<a href="{{ site.get_absolute_url }}">{% viewable_name site %}</a>&gt;{% for custom_url in custom_urls %}/<a href="{{ custom_url.get_absolute_url }}">{{ custom_url.path }}</a>{% endfor %}</td>
    </tr>
    {% endif %}
    {% if item.default_layout %}
    <tr>
        <th>Default Layout</th>
        <td><a href="{{ item.default_layout.get_absolute_url }}">{% viewable_name item.default_layout %}</a></td>
    </tr>
    {% endif %}
    {% if child_urls %}
    <tr>
        <th>Children</th>
        <td>{% for child in child_urls %}<a href="{{ child.get_absolute_url }}">{{ child.path }}</a><br />{% endfor %}</td>
    </tr>
    {% endif %}
    {% if item.aliased_item %}
    <tr>
        <th>Aliased Item</th>
        <td><a href="{{ item.aliased_item.get_absolute_url }}">{% viewable_name item.aliased_item %}</a></td>
    </tr>
    {% endif %}
    <tr>
        <th>Viewer</th>
        <td><a href="{% url item_type_url viewer=item.viewer %}">{{ item.viewer }}</a></td>
    </tr>
    <tr>
        <th>Action</th>
        <td>{{ item.action }}</td>
    </tr>
    {% if item.query_string %}
    <tr>
        <th>Query String</th>
        <td>{{ item.query_string }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Format</th>
        <td>{{ item.format }}</td>
    </tr>
</table>

{% endblock content %}

