div.title {
    float: left;
    font-weight: normal;
    color: #4040C4;
    font-size: 250%;
    font-variant: small-caps;
    font-family: arial narrow;
    font-stretch: ultra-condensed;
}

div.title img {
    vertical-align: middle;
    margin-right: 10px;
}

div.subtitle {
    font-weight: bold;
    color: #4040C4;
    font-size: 175%;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

div.subtitle img {
    vertical-align: middle;
}

/* These work fine */
.nav_menu_header {
    font-size: 75%;
    font-weight: bold;
}

.nav_menu_item {
    font-size: 70%;
}
