{% extends layout %}
{% load item_tags %}
{% block content %}


<style type="text/css">

div {
 margin-right: 5px;
}

div.title p #label{
  display: block;
  font-size: 150%;
  margin-bottom: 0;
}

div.title #label{
  margin-bottom: 20px;
}

div p {
  font-size:120%
  margin-top: 0;
  margin-bottom: 0;
}

#label {
  font-size: 8px;
  color: blue;
  margin: 0;
}

div.date {
  float:left;
  margin-bottom: 1em;
}

#to {
  float: left;
  height: 3em;
  margin-right: .5em;
  margin-left: 0;
}

div.location {
  clear:both;
  margin-bottom: 1em;
}

#No_Permission {
	font-size: 12px;
}
</style>


<body>

<div class="title">
 {% ifagentcan 'view Item.name' event %}
 <p>{{event.name}}</p>
 {% else %}
 <p id="No_Permission">YOU CANNOT VIEW THIS FIELD<p>
 {% endifagentcan %}
 <p id="label">Event name</p>
</div>
{% ifequal event.start_date event.end_date %}
<div class="date" id="Start_Date">
 {% ifagentcan 'view Event.start_date' event %}	
  <p>{{event.start_date}}</p>
 {% else %}
  <p id="No_Permission">YOU CANNOT VIEW THIS FIELD<p>
 {% endifagentcan %}
  <p id="label">Start Date</p>
  <p id="label">& End Date<p>
</div>
<div class="date" id="Start_Time">
  {% ifagentcan 'view Event.start_time' event %}	
    <p>{{event.start_time}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD<p>
  {% endifagentcan %}
  <p id="label">Start Time</p>
</div>
<div class="date" id="to"> to </div>
<div class="date" id="End_Time">
 {% ifagentcan 'view Event.end_time' event %}
    <p>{{event.end_time}}</p>
 {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD<p>
 {% endifagentcan %}
  <p id="label">End Time</p>
</div>
{% else %}
<div class="date" id="Start_Date">
  {% ifagentcan 'view Event.start_date' event %}	
    <p>{{event.start_date}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD<p>
  {% endifagentcan %}
  <p id="label">Start Date</p>
</div>
<div class="date" id="Start_Time">
  {% ifagentcan 'view Event.start_time' event %}
    <p>{{event.start_time}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD<p>
  {% endifagentcan %}
  <p id="label">Start Time</p>
</div>
<div class="date" id="to"> to </div>
<div class="date" id="End_Date">
  {% ifagentcan 'view Event.end_date' event %}
    <p>{{event.end_date}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD<p>
  {% endifagentcan %}
  <p id="label">End Date</p>
</div>
<div class="date" id="End_Time"> 
  {% ifagentcan 'view Event.end_time' event %}
    <p>{{event.end_time}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD<p>
  {% endifagentcan %}
  <p id="label">End Time</p>
</div>
{% endifequal %}
<div class="location">
  {% ifagentcan 'view Event.location' event %}	
    <p>at {{event.location}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD<p>
  {% endifagentcan %}
  <p id="label">   Location </p>
</div>
{% ifagentcan 'view Item.description' event %}
{{ event.body|safe }}
{% else %}
  <p id="No_Permission">YOU CANNOT VIEW THIS FIELD<p>
{% endifagentcan %}
<p id="label"> Description </p>
</body>
{% endblock content %}
