{% extends layout %}
{% load item_tags %}
{% block content %}


<style type="text/css">

div {
 margin-right: 5px;
}

div p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

#label {
  font-size: 12px;
  color: blue;
  margin: 0;
}

div.date {
  float:left;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-left: 1em;
}

#Start_Date {
	margin-left: 0;
}

#to {
  float: left;
  margin-right: .5em;
  margin-left: 0;
  font-size: 16px;
  height: 1em;
  margin-top: 4.3%;
}

div.location {
  clear:both;
  margin-bottom: 1em;
}

#No_Permission {
	font-size: 12px;
}
</style>


<body>

	<script>
	function googleSectionalElementInit() {
	  new google.translate.SectionalElement({
	    sectionalNodeClassName: 'goog-trans-section',
	    controlNodeClassName: 'goog-trans-control',
	    background: '#f4fa58'
	  }, 'google_sectional_element');
	}
	</script>
	<script src="//translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=en"></script>

{% ifequal event.start_date event.end_date %}
<div class="date" id="Start_Date">
 {% ifagentcan 'view Event.start_date' event %}	
  <p>{{event.start_date}}</p>
 {% else %}
  <p id="No_Permission">YOU CANNOT VIEW THIS FIELD</p>
 {% endifagentcan %}
  <p id="label">Start Date</p>
  <p id="label">&amp; End Date<p>
</div>
<div class="date" id="Start_Time">
  {% ifagentcan 'view Event.start_time' event %}	
    <p>{{event.start_time}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD</p>
  {% endifagentcan %}
  <p id="label">Start Time</p>
</div>
<div class="date" id="to"> to </div>
<div class="date" id="End_Time">
 {% ifagentcan 'view Event.end_time' event %}
    <p>{{event.end_time}}</p>
 {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD</p>
 {% endifagentcan %}
  <p id="label">End Time</p>
</div>
{% else %}
<div class="date" id="Start_Date">
  {% ifagentcan 'view Event.start_date' event %}	
    <p>{{event.start_date}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD</p>
  {% endifagentcan %}
  <p id="label">Start Date</p>
</div>
<div class="date" id="Start_Time">
  {% ifagentcan 'view Event.start_time' event %}
    <p>{{event.start_time}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD</p>
  {% endifagentcan %}
  <p id="label">Start Time</p>
</div>
<div class="date" id="to"> to </div>
<div class="date" id="End_Date">
  {% ifagentcan 'view Event.end_date' event %}
    <p>{{event.end_date}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD</p>
  {% endifagentcan %}
  <p id="label">End Date</p>
</div>
<div class="date" id="End_Time"> 
  {% ifagentcan 'view Event.end_time' event %}
    <p>{{event.end_time}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD</p>
  {% endifagentcan %}
  <p id="label">End Time</p>
</div>
{% endifequal %}
<div class="location">
  {% ifagentcan 'view Event.location' event %}	
    <p>at {{event.location}}</p>
  {% else %}
    <p id="No_Permission">YOU CANNOT VIEW THIS FIELD</p>
  {% endifagentcan %}
  <p id="label">   Location </p>
</div>
{% ifagentcan 'view TextDocument.body' event %}
{{ event.body|safe }}
{% else %}
  <p id="No_Permission">YOU CANNOT VIEW THIS FIELD</p>
{% endifagentcan %}
<p id="label"> Description </p>
</body>
{% endblock content %}
