{% extends layout %}
{% load item_tags %}
{% block content %}
<style>
div {
 margin-right: 5px;
}

div p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

#label {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

div.Question {
  margin-right: 6em;
}

div.Deadline p{
	font-size: 20px;
}

div.Instructions p{
	font-size: 12px;
}

#No_Permission {
	font-size: 12px;
}

div.submit_button a.poll {
}

div #Results {
    width: 20%;
	padding: 0;
	margin: .2em;
	margin-left: .5em;
	float: right;
}

div.container.propositions div.row.odd span{
	background-color: #CCF;
}

div.container.propositions div.row.even span{
	background-color: #F0F0F0;
}

div.container div.row.even{
	background-color: #F0F0F0;
	height: 3em;
	border: 1px solid gray
}

div.container div.row.odd{
	background-color: #CCF;
	height: 3em;
	border: 1px solid gray
}


div.container.propositions a{
	margin-right: 2em;
}

div.container span span{
	float: right;
	margin-left: 1em;
}

div.container div.implementation{
	height: 16em;
	width: 30%;
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0em;
	display: none;
}

#hiddenDecisionButtons p{
	font-size: 10px;
}

#writeinComment {
	rows 2
}

</style>

<script type="text/javascript">
function showDialog(){
   $("#divId").dialog("open");
   return false;
}

$(document).ready(function() {
   $("#divId").dialog({
           autoOpen: false,
           modal: true,
           height: 500,
           width: 500
       });
});
</script>

<script type="text/javascript">
	function toggleImplementation(pk){
		var button = "#hide" + pk;
		var implementation = "#" + pk;
		if ($(implementation).is(":hidden")) {
			$(implementation).slideDown("slow");
			$(button).val(" Hide Details");
		} else {
			$(implementation).slideUp("slow");
			$(button).val("Show Details");
		}
	};
</script>
<script type="text/javascript">
	function toggleResponses(pk){
		var response = "#responses" + pk;
		var button = "#hide" + pk;
		if ($(response).is(":hidden")) {
			$(response).slideDown("slow");
			$(button).val(" Hide Responses");
		} else {
			$(response).slideUp("slow");
			$(button).val("Show Responses");
		}
	};
	
	function toggleButtons(className){
		var buttons = "#" + className;
		if ($(buttons).is(":hidden")) {
			$(buttons).slideDown("slow");
		} else {
			$(buttons).slideUp("slow");
		}
	};
	
	function removeMember(pk){
		$("#removeInput").val(pk);
		$("#removemember").submit();
	};
	
    
</script>

{% if can_view_response_names_and_values or not cur_agent_has_voted %}


<form id="removemember" style="display: inline;" method="post" enctype="multipart/form-data" action="{% url item_url viewer=viewer_name,action="removemember",noun=item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
    <input id="removeInput"type="hidden" name="item" value="{{ membership.item.pk }}" />
</form>










<script type="text/javascript">
    function openDialog(name)
    {
        var dialogBox = $("#" + name);
        dialogBox.dialog({
            autoOpen: false,
            bgiframe: true,
            modal: true,
            close: function(event, ui) {dialogBox.dialog('destroy')}
        });
        dialogBox.dialog('open');
    }   =me
</script>


{% if item.question %}
<div style="font-size: larger; margin-bottom: 1em;">
<strong>Issue:</strong>
{{ item.question }}
</div>
{% endif %}

{% if propositions %}
<form method="post" enctype="multipart/form-data" 
	action="{% url item_url viewer=viewer_name,action="respondtopropositions",noun=item.pk %}?redirect={{ full_path|urlencode }}">
	<div class="container propositions" id="Propcontainer" style="width: 78%; margin-left: 0; ">
    
	
		{% for proposition in propositions %}
		    <div>
		           <div style="float: left;"> {{ forloop.counter }})  </div>
		           <div style-"float:left;">{{proposition.body|safe}} </div>
			 	   
			 	   {% ifagentcan 'modify_membership' item %}
				   <button style="float:left" type="button" onclick="removeMember('{{ proposition.pk }}')"><img src="{{ "delete"|icon_url:16 }}" /> Remove</button>
				   {% endifagentcan %}
				   <div style="clear: both;"></div>		
			 	   
			</div>
			{% if cur_agent_in_eligbles %}
			<div style="float: left">
				
				<select name="{{ proposition.pk }}">
				<option value="no vote">Vote...</option>
	        	<option value="not sure">Choice #1</option>
				<option value="approve">Choice #2</option>
				<option value="disapprove">Choice #3</option>
				</select> 
			</div>
			{% endif %}
			
		<br>	
		<br>
	    {% endfor %}
	    </div>
	    
	    
	{% if cur_agent_in_eligbles %}
	</div>
	<p><strong>You also have the option of writing in your own statement that you think better captures your opinions. We ask that you still vote for each response above and then write your own statement here:</strong><p>
	<textarea  name="optional_writein_comment" type="text" cols="20" rows="2"></textarea><br />
			<div style="margin-left:40%; margin-bottom:1em;">
			    <input type="submit" value="Submit" /><br><br>
			</div>
	{% endif %}
</form>
{% else %}
    No propositions in this poll
{% endif %}

			


{% ifagentcan 'modify_membership' item %}
<div class="submit_button">  
	<a class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all poll" onclick="toggleButtons('hiddenPropositionButtons')">Add a Proposition</a>
</div>
{% endifagentcan %}
<br>
<br>
<div id="hiddenPropositionButtons" style="margin: 4px; height 2em; display:none;">
	{% ifagentcanglobal 'create Proposition' %}
	 <a class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all poll" href="{% url item_type_url viewer='proposition',action='new'%}?populate_poll={{ item.pk }}&amp;add_to_collection={{ item.pk }}&amp;redirect={{ full_path|urlencode }}">Make New Proposition</a>
	{% endifagentcanglobal %}
	{% ifagentcan 'modify_membership' item %}
	<a class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" onclick="openDialog('addmember{{ item.pk }}'); return false;">Add Existing Proposition to Poll</a>
	{% endifagentcan %}
	<a class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all poll" onclick="toggleButtons('hiddenPropositionButtons')">Cancel</a><br><br>
</div>
<br>
<br>

{% endif %}

{% if cur_agent_has_voted or can_view_response_names_and_values %}

  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
     function drawVisualization() {
     	  {% for vote_numbers_tuple in vote_numbers_list %}
		  // Create and populate the data table.

		  var data = new google.visualization.DataTable();
		  var raw_data = [['vote', {{vote_numbers_tuple.agree}}, {{vote_numbers_tuple.disagree}}, {{vote_numbers_tuple.no_vote}}]]
		  
		  var responses = ['Choice #1', 'Choice #2', 'Choice #3'];
		                  
		  data.addColumn('string', 'responses');
		  for (var i = 0; i  < raw_data.length; ++i) {
		    data.addColumn('number', raw_data[i][0]);    
		  }
		  
		  data.addRows(responses.length);

		  for (var j = 0; j < responses.length; ++j) {    
		    data.setValue(j, 0, responses[j].toString());    
		  }
		  for (var i = 0; i  < raw_data.length; ++i) {
		    for (var j = 1; j  < raw_data[i].length; ++j) {
		      data.setValue(j-1, i+1, raw_data[i][j]);    
		    }
		  }
  
		  // Create and draw the visualization.
		  new google.visualization.BarChart(document.getElementById('visualization{{ forloop.counter }}')).
		      draw(data,
		           {title:"",
		            width:600, height:150,
		            hAxis: { title: "Votes"}
		        	}
		      );
		   {% endfor %}
			}
       
      

      google.setOnLoadCallback(drawVisualization);
    </script>
    {% if can_view_response_names_and_values %}
    	<br>
    	<h3>----------Results Page for Participants----------</h3>
    	<br>
    {% endif %}
    <p id="PollResultsTitle" style="font-size:2em; margin-bottom:1em; margin-top:.5em;"><strong>Poll Results</strong> </p>

    {% for proposition in propositions %}

    <p style="margin-bottom:0em;"><strong>{{proposition.body|safe}}</strong></p>
    <div id="visualization{{ forloop.counter }}" style="width: 600px; height: 200px; margin-top:0em; margin-bottom 1em;"></div>

    {% endfor %}

    <div style="background-color:#b0c4de"><p><strong> Personal Statements </strong></p>
    {% if comments %}
    	<table>
	    {% for comment in comments %}
	    <tr>
	    	<td>{{ comment.body|safe }}</td>
	    	<td>Posted on {{ comment.created_at }}</td>
	    </tr>
	    {% endfor %}
	    </table>
	{% else %}
		<p>There have been no personal statements made</p>
	{% endif %}
	</div>

	{% if cur_agent_in_eligbles %}
	<p><strong>Add another personal statement:</strong><p>
	<form method="post" enctype="multipart/form-data" 
	action="{% url item_url viewer=viewer_name,action="addawritein",noun=item.pk %}?redirect={{ full_path|urlencode }}">
	<textarea  name="optional_writein_comment" type="text" cols="20" rows="2"></textarea><br />
			<div style="margin-left:40%; margin-bottom:1em;">
			    <input type="submit" value="Submit" /><br><br>
			</div>
	</form>
	{% endif %}

    {% if can_view_response_names_and_values %}
    <h3>-------Admin View--------</h3>


<p style="font-size:16px;">Responses:</p>
{# make this a bulleted list with hidden divs #}
<div class="container responses" id="Propcontainer" style="width: 60%; margin-left: 0;">
    {% if can_view_response_names_and_values %}
        {% for key,value in responses.items %}
        	<div class="{% cycle 'even' 'odd' %} row " >
        	<span class="row"><a href="{{ key.get_absolute_url }}">{% viewable_name key %}</a>
     		{% if value %}
            	has responded 
                <input type="button" style="float:right;"
                value="Show Responses" id="hide{{ key.pk }}" onclick="toggleResponses('{{ key.pk }}')" />
				</div>
               	<div id="responses{{ key.pk }}" style="display: none">
                {% for response in value %}
                     <p><a href="{{ response.proposition.get_absolute_url }}" style="margin-left:1em;">
                     {% viewable_name response.proposition %}</a>: {{ response.value }}</p>
                {% endfor %}
                </div></span>
        	{% else %}
            	has not responded </span></div>
        	{% endif %}
        {% endfor %}
	</div>
    {% else %}{% if can_view_response_names %}
	{% for key,value in responses.items %}
    <div class="{% cycle 'even' 'odd' %} row " >
    <span class="row"><a href="{{ key.get_absolute_url }}">{% viewable_name key %}</a>
    {% if value %} has responded {% else %} has not responded {% endif %}
	{% ifequal cur_agent key %} 
		<input type="button" style="float:right;"
        value="Show Responses" id="hide{{ key.pk }}" onclick="toggleResponses('{{ key.pk }}')" />
		</div>
       	<div id="responses{{ key.pk }}" style="display: none">
        {% for response in value %}
             <p><a href="{{ response.proposition.get_absolute_url }}" style="margin-left:1em;">
             {% viewable_name response.proposition %}</a>: {{ response.value }}</p>
        {% endfor %}
	{% endifequal %}
    </span></div>
    {% endfor %}
    {% else %}
		Responses are not visible
		<p>You're response:</p>
		 {% for key,value in responses.items %}
			
			{% ifequal cur_agent.pk key.pk %}
	        	<div class="{% cycle 'even' 'odd' %} row " >
	        	<span class="row"><a href="{{ key.get_absolute_url }}">{% viewable_name key %}</a>
	     		{% if value %}
	            	has responded 
	                <input type="button" style="float:right;"
	                value="Show Responses" id="hide{{ key.pk }}" onclick="toggleResponses('{{ key.pk }}')" />
					</div>
	               	<div id="responses{{ key.pk }}" style="display: none">
	                {% for response in value %}
	                     <p><a href="{{ response.proposition.get_absolute_url }}" style="margin-left:1em;">
	                     {% viewable_name response.proposition %}</a>: {{ response.value }}</p>
	                {% endfor %}
	                </div></span>
	        	{% else %}
	            	has not responded </span></div>
	        	{% endif %}
			{% endifequal %}
	       {% endfor %}
    {% endif %}{% endif %}
</div>

    
	{% endif %}















{% endif %}





{% endblock content %}

