{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item.item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item.item_type|icon_url:48 }}" /> Edit {{ itemversion.name }}{% endblock %}
{% block content %}

<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
<script type="text/javascript" src="/static/javascripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
  {% ifequal item_type "HtmlDocument" %}
  mode: "textareas",
  theme: "simple"
  {% else %}
  {% endifequal %}
});
</script>    

<div class="crumbs">
    {% for inherited_item_type in item_type_inheritance %}
    <a href="/resource/{{ inherited_item_type|lower }}">{{ inherited_item_type }}s</a>
    &raquo;
    {% endfor %}
    <a href="{% show_resource_url item %}">{{ item }}</a>
    &raquo;
    <a href="{% show_resource_url itemversion %}">Version {{ itemversion.version_number }}</a>
    &raquo;
    Edit
</div>

<div>
    <form method="post" enctype="multipart/form-data" action="/resource/{{ item_type|lower }}/{{ itemversion.current_item_id }}/update?version={{ itemversion.version_number }}" class="item_form">
        <table>
            {{ form.as_table }}
        </table>
    <input type="submit" />
    </form>
</div>

{% endblock content %}

