{% extends layout %}
{% load item_tags %}
{% block content %}

{% ifagentcan 'do_anything' item %}
<form method="post" action="{% url item_url viewer=viewer_name,action="updateitempermissions",noun=item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
<div>
{% item_permission_editor item %}
</div>
<p><button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Save Permissions</button></p>
</form>
{% else %}
{% item_permission_editor item %}
{% endifagentcan %}

{% endblock content %}

