{% extends layout %}
{% load item_tags %}
{% block favicon %}{{ item|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item|icon_url:48 }}" /> Permissions for {% viewable_name item %}{% endblock %}
{% block content %}

<form method="post" action="{% url item_url viewer=viewer_name,action="updateitempermissions",noun=item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
<div>
{% item_permission_editor item %}
</div>
<button type="submit"><img src="{{ "checkbox"|icon_url:16 }}" /> <span>Save Permissions</span></button>
</form>

<div style="margin-top: 10px; margin-bottom: 10px;">
    The following permissions are set by default as <a href="{% url item_type_url viewer="demesetting",action="modify" %}">Deme settings</a>. They may change at any time.
</div>
{% for p in default_permissions|dictsort:"ability" %}
<div>
    {% ifequal p.is_allowed None %}?{% else %}{% if p.is_allowed %}+{% else %}-{% endif %}{% endifequal %}{{ p.ability }}
</div>
{% endfor %}

{% endblock content %}

