{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item_type|icon_url:48 }}" /> List {{ item_type }}s{% endblock %}
{% block content %}

{% collectionheader %}

<div style="border: thin solid #aaa; background: #eee; padding: 10px; margin-bottom: 10px;">
<form method="get" name="list_filter_form">
<table class="twocol">
    <tr>
        <th>
            Item Type Filter:
        </th>
        <td>
            <select onchange="window.location = this.value;">
                {% for model_name in model_names %}
                {% ifequal model_name item_type %}
                <option value="{% url resource_collection viewer=model_name|lower %}" selected="selected">{{ model_name }}</option>
                {% else %}
                <option value="{% url resource_collection viewer=model_name|lower %}">{{ model_name }}</option>
                {% endifequal %}
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th>
            Item Set Filter:
        </th>
        <td>
            <select name="collection">
                {% if collection %}
                <option value=""></option>
                {% else %}
                <option value="" selected="selected"></option>
                {% endif %}
                {% for other_collection in all_collections %}
                {% ifequal other_collection.pk collection.pk %}
                <option value="{{ other_collection.pk }}" selected="selected">{{ other_collection.name }}</option>
                {% else %}
                <option value="{{ other_collection.pk }}">{{ other_collection.name }}</option>
                {% endifequal %}
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th>
            Search:
        </th>
        <td>
            <input type="text" name="q" value="{{ search_query }}" />
        </td>
    </tr>
</table>
</form>
</div>

{% if items %}

<div style="text-align: right; font-size: smaller;">
    Displaying {{ list_start_i }} - {{ list_end_i }} of {{ n_listable_items }} listable {{ item_type }}s <!--(plus {{ n_opposite_trashed_items }} opposite-trashed items and {{ n_unlistable_items }} unlistable items)-->
</div>

<div style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
    {% list_results_navigator item_type collection search_query trashed offset limit n_listable_items 10 %}
</div>

<table class="list" width="100%">
    <tr>
        <th>Name</th>
    </tr>
    {% for item in items %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td><img src="{{ item.item_type|icon_url:16 }}" /> <a href="{% url resource_entry viewer=item.item_type|lower,noun=item.pk %}">{{ item.name }}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
    No {{ item_type }}s Found
{% endif %}

<div style="margin-top: 10px; text-align: center;">
    {% list_results_navigator item_type collection search_query trashed offset limit n_listable_items 10 %}
</div>

{% endblock content %}

