{% extends layout %}
{% load item_tags %}
{% block favicon %}{{ accepted_item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ accepted_item_type|icon_url:48 }}" /> List {{ accepted_item_type_name_plural }}{% endblock %}
{% block content %}

{% typeheader %}

<div style="border: thin solid #aaa; background: #eee; padding: 10px; margin-bottom: 10px;">
<form method="get" name="list_filter_form">
<table cellspacing="0" class="twocol">
    <tr>
        <th>
            Item Type Filter:
        </th>
        <td>
            <select onchange="window.location = this.value;">
                {% for item_type in item_types %}
                <option style="background-repeat:no-repeat; background-position:bottom left; padding-left:18px; background-image:url({{ item_type.item_type|icon_url:16 }});" value="{% url item_type_url viewer=item_type.viewer %}"{% ifequal item_type.item_type accepted_item_type %} selected="selected"{% endifequal %}>{{ item_type.name_plural|capfirst }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th>
            Item Set Filter:
        </th>
        <td>
            <select name="collection">
                {% if collection %}
                <option value=""></option>
                {% else %}
                <option value="" selected="selected"></option>
                {% endif %}
                {% for other_collection in all_collections %}
                {% ifequal other_collection.pk collection.pk %}
                <option value="{{ other_collection.pk }}" selected="selected">{{ other_collection.name }}</option>
                {% else %}
                <option value="{{ other_collection.pk }}">{{ other_collection.name }}</option>
                {% endifequal %}
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th>
            Search:
        </th>
        <td>
            <input type="text" name="q" value="{{ search_query }}" />
        </td>
    </tr>
</table>
</form>
</div>

{% if items %}

<div style="text-align: right; font-size: smaller;">
    Displaying {{ list_start_i }} - {{ list_end_i }} of {{ n_listable_items }} listable {{ accepted_item_type_name_plural }} <!--(plus {{ n_opposite_active_items }} opposite-active items and {{ n_unlistable_items }} unlistable items)-->
</div>

<div style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
    {% list_results_navigator viewer_name collection search_query active offset limit n_listable_items 10 %}
</div>

<table cellspacing="0" class="list" width="100%">
    <tr>
        <th>Name</th>
    </tr>
    {% for item in items %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td><a class="img_link" href="{% url item_url viewer=item.item_type|lower,noun=item.pk %}"><img src="{{ item|icon_url:16 }}" /><span>{{ item.name }}</span></a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
    No {{ accepted_item_type_name_plural }} Found
{% endif %}

<div style="margin-top: 10px; text-align: center;">
    {% list_results_navigator viewer_name collection search_query active offset limit n_listable_items 10 %}
</div>

{% endblock content %}

