{% extends layout %}
{% load item_tags %}
{% block favicon %}{{ accepted_item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ accepted_item_type|icon_url:48 }}" /> {% if action_is_item_copy %}Copy{% else %}New{% endif %} {{ accepted_item_type_name }}{% endblock %}
{% block content %}

<script type="text/javascript" src="/static/javascripts/prototype.js"></script>
{% if is_html %}
<script type="text/javascript" src="/static/javascripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
  mode: "exact",
  elements: "body",
  theme: "simple"
});
</script>    
{% endif %}

{% if action_is_item_copy %}
{% typeheader "Copy" %}
{% else %}
{% typeheader "New" %}
{% endif %}

<div>
    {% if redirect %}
    <form method="post" enctype="multipart/form-data" action="{% url item_type_url viewer=viewer_name,action="create" %}?redirect={{ redirect|urlencode }}" class="item_form">
    {% else %}
    <form method="post" enctype="multipart/form-data" action="{% url item_type_url viewer=viewer_name,action="create" %}" class="item_form">
    {% endif %}
        <table cellspacing="0">
            {{ form.as_table }}
        </table>
        <button type="submit"><img src="{{ "checkbox"|icon_url:16 }}" /> <span>Create {{ accepted_item_type_name }}</span></button>
    </form>
</div>

{% endblock content %}

