{% extends layout %}
{% load item_tags %}
{% block favicon %}{{ accepted_item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ accepted_item_type|icon_url:48 }}" /> {% if action_is_item_copy %}Copy{% else %}New{% endif %} {{ accepted_item_type_name }}{% endblock %}
{% block content %}

{% if is_html %}
<script type="text/javascript" src="/static/javascripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
	// General options
    mode: "exact",
    elements: "body",
	theme : "advanced",
	plugins : "style,layer,table,save,advhr,advimage,advlink,emotions,iespell,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras",

	// Theme options
	theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
	theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
	theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
	theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_statusbar_location : "bottom",
	theme_advanced_resizing : true,
    convert_urls : false,
});
</script>    
{% endif %}

<div>
    {% if redirect %}
    <form method="post" enctype="multipart/form-data" action="{% url item_type_url viewer=viewer_name,action="create" %}?redirect={{ redirect|urlencode }}" class="item_form">
    {% else %}
    <form method="post" enctype="multipart/form-data" action="{% url item_type_url viewer=viewer_name,action="create" %}" class="item_form">
    {% endif %}
        <table cellspacing="0">
            <tr><th><label for="id_action_summary">Create summary:</label></th><td><input id="id_action_summary" type="text" name="action_summary" value="" maxlength="255" /></td></tr>
            {{ form.as_table }}
        </table>
        <div>
            <button type="button" onclick="$('#permission_editor').toggle();"><img src="{{ "permissions"|icon_url:16 }}" /> <span>Permissions</span></button>
        </div>
        <div id="permission_editor" style="display: none;">
            {% item_permission_editor item %}
        </div>
        <button type="submit"><img src="{{ "checkbox"|icon_url:16 }}" /> <span>Create {{ accepted_item_type_name }}</span></button>
    </form>
</div>

{% endblock content %}

