{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item_type|icon_url:48 }}" /> Permissions for {% ifagentcan 'view' 'name' item %}{{ item.name }}{% else %}[PERMISSION DENIED]{% endifagentcan %}{% endblock %}
{% block content %}

<script type="text/javascript" src="/static/javascripts/prototype.js"></script>

{% entryheader 'Permissions' %}

<div style="margin-bottom: 5px;">
    <div><a href="#" onclick="$('new_agent_form').toggle(); return false;">[+] Agent</a></div>
    <div id="new_agent_form" style="display: none;">
        <form method="get" class="item_form">
            <table>
                {{ new_agent_form.as_table }}
            </table>
            <input type="submit" />
        </form>
    </div>
</div>

<div style="margin-bottom: 5px;">
    <div><a href="#" onclick="$('new_collection_form').toggle(); return false;">[+] Collection</a></div>
    <div id="new_collection_form" style="display: none;">
        <form method="get" class="item_form">
            <table>
                {{ new_collection_form.as_table }}
            </table>
            <input type="submit" />
        </form>
    </div>
</div>

<table class="list">
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Permissions</th>
        <th>Add</th>
    </tr>
    {% for agent_datum in agent_data %}
    <tr class="{% cycle 'even' 'odd' as row_parity %}">
        <td>Agent</td>
        <td><a href="{% show_resource_url agent_datum.agent %}">{{ agent_datum.agent.name }}</a></td>
        <td>
            {% for p in agent_datum.role_permissions %}
                <div>
                    <a href="{% show_resource_url p.role %}">{{ p.role.name }}</a>
                    <form style="display: inline;" method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=agentrolepermission&redirect={{ full_path|urlencode }}&formprefix={{ agent_datum.role_permission_form.prefix|urlencode }}" class="item_form">
                        <input type="hidden" name="permission_to_delete" value="{{ p.pk }}" />
                        <input type="submit" value="Remove" />
                    </form>
                </div>
            {% endfor %}
            {% for p in agent_datum.permissions %}
                <div>
                    {% if p.is_allowed %}+{% else %}-{% endif %}{{ p.ability }}
                    <form style="display: inline;" method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=agentpermission&redirect={{ full_path|urlencode }}&formprefix={{ agent_datum.permission_form.prefix|urlencode }}" class="item_form">
                        <input type="hidden" name="permission_to_delete" value="{{ p.pk }}" />
                        <input type="submit" value="Remove" />
                    </form>
                </div>
            {% endfor %}
        </td>
        <td>
            <div><a href="#" onclick="$('role_permission_form_{{ agent_datum.agent.pk }}').toggle(); return false;">[+] Role Permission</a></div>
            <div id="role_permission_form_{{ agent_datum.agent.pk }}" style="{% if agent_datum.role_permission_form_invalid %}{% else %}display: none;{% endif %}">
                <form method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=agentrolepermission&redirect={{ full_path|urlencode }}&formprefix={{ agent_datum.role_permission_form.prefix|urlencode }}" class="item_form">
                    <table>
                        {{ agent_datum.role_permission_form.as_table }}
                    </table>
                    <input type="submit" />
                </form>
            </div>
            <div><a href="#" onclick="$('permission_form_{{ agent_datum.agent.pk }}').toggle(); return false;">[+] Permission</a></div>
            <div id="permission_form_{{ agent_datum.agent.pk }}" style="{% if agent_datum.permission_form_invalid %}{% else %}display: none;{% endif %}">
                <form method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=agentpermission&redirect={{ full_path|urlencode }}&formprefix={{ agent_datum.permission_form.prefix|urlencode }}" class="item_form">
                    <table>
                        {{ agent_datum.permission_form.as_table }}
                    </table>
                    <input type="submit" />
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
    {% for collection_datum in collection_data %}
    <tr class="{% cycle row_parity %}">
        <td>Collection</td>
        <td><a href="{% show_resource_url collection_datum.collection %}">{{ collection_datum.collection.name }}</a></td>
        <td>
            {% for p in collection_datum.role_permissions %}
                <div>
                    <a href="{% show_resource_url p.role %}">{{ p.role.name }}</a>
                    <form style="display: inline;" method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=collectionrolepermission&redirect={{ full_path|urlencode }}&formprefix={{ collection_datum.role_permission_form.prefix|urlencode }}" class="item_form">
                        <input type="hidden" name="permission_to_delete" value="{{ p.pk }}" />
                        <input type="submit" value="Remove" />
                    </form>
                </div>
            {% endfor %}
            {% for p in collection_datum.permissions %}
                <div>
                    {% if p.is_allowed %}+{% else %}-{% endif %}{{ p.ability }}
                    <form style="display: inline;" method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=collectionpermission&redirect={{ full_path|urlencode }}&formprefix={{ collection_datum.permission_form.prefix|urlencode }}" class="item_form">
                        <input type="hidden" name="permission_to_delete" value="{{ p.pk }}" />
                        <input type="submit" value="Remove" />
                    </form>
                </div>
            {% endfor %}
        </td>
        <td>
            <div><a href="#" onclick="$('role_permission_form_{{ collection_datum.collection.pk }}').toggle(); return false;">[+] Role Permission</a></div>
            <div id="role_permission_form_{{ collection_datum.collection.pk }}" style="{% if collection_datum.role_permission_form_invalid %}{% else %}display: none;{% endif %}">
                <form method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=collectionrolepermission&redirect={{ full_path|urlencode }}&formprefix={{ collection_datum.role_permission_form.prefix|urlencode }}" class="item_form">
                    <table>
                        {{ collection_datum.role_permission_form.as_table }}
                    </table>
                    <input type="submit" />
                </form>
            </div>
            <div><a href="#" onclick="$('permission_form_{{ collection_datum.collection.pk }}').toggle(); return false;">[+] Permission</a></div>
            <div id="permission_form_{{ collection_datum.collection.pk }}" style="{% if collection_datum.permission_form_invalid %}{% else %}display: none;{% endif %}">
                <form method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=collectionpermission&redirect={{ full_path|urlencode }}&formprefix={{ collection_datum.permission_form.prefix|urlencode }}" class="item_form">
                    <table>
                        {{ collection_datum.permission_form.as_table }}
                    </table>
                    <input type="submit" />
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
    <tr class="{% cycle row_parity %}">
        <td>Default</td>
        <td></td>
        <td>
            {% for p in default_data.role_permissions %}
                <div>
                    <a href="{% show_resource_url p.role %}">{{ p.role.name }}</a>
                    <form style="display: inline;" method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=defaultrolepermission&redirect={{ full_path|urlencode }}&formprefix={{ default_data.role_permission_form.prefix|urlencode }}" class="item_form">
                        <input type="hidden" name="permission_to_delete" value="{{ p.pk }}" />
                        <input type="submit" value="Remove" />
                    </form>
                </div>
            {% endfor %}
            {% for p in default_data.permissions %}
                <div>
                    {% if p.is_allowed %}+{% else %}-{% endif %}{{ p.ability }}
                    <form style="display: inline;" method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=defaultpermission&redirect={{ full_path|urlencode }}&formprefix={{ default_data.permission_form.prefix|urlencode }}" class="item_form">
                        <input type="hidden" name="permission_to_delete" value="{{ p.pk }}" />
                        <input type="submit" value="Remove" />
                    </form>
                </div>
            {% endfor %}
        </td>
        <td>
            <div><a href="#" onclick="$('role_permission_form_default').toggle(); return false;">[+] Role Permission</a></div>
            <div id="role_permission_form_default" style="{% if default_data.role_permission_form_invalid %}{% else %}display: none;{% endif %}">
                <form method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=defaultrolepermission&redirect={{ full_path|urlencode }}&formprefix={{ default_data.role_permission_form.prefix|urlencode }}" class="item_form">
                    <table>
                        {{ default_data.role_permission_form.as_table }}
                    </table>
                    <input type="submit" />
                </form>
            </div>
            <div><a href="#" onclick="$('permission_form_default').toggle(); return false;">[+] Permission</a></div>
            <div id="permission_form_default" style="{% if default_data.permission_form_invalid %}{% else %}display: none;{% endif %}">
                <form method="post" enctype="multipart/form-data" action="{% url resource_entry viewer="item",noun=item.pk,action="permissions" %}?formtype=defaultpermission&redirect={{ full_path|urlencode }}&formprefix={{ default_data.permission_form.prefix|urlencode }}" class="item_form">
                    <table>
                        {{ default_data.permission_form.as_table }}
                    </table>
                    <input type="submit" />
                </form>
            </div>
        </td>
    </tr>
</table>

{% endblock content %}

