{% extends layout %}
{% load item_tags %}
{% block content %}

{% for details in action_notices %}
<div style="margin-bottom: 5px; border: 1px #aaa solid; background: #ddd; -moz-border-radius: 8px; padding: 5px;">
    <span title="{{ details.action_notice.created_at|date:"Y-m-d H:m:s" }}">
        {{ details.action_notice.created_at|timesince }}
        ago
    </span>
    Type:
    {{ details.type }}

    <a href="{{ details.action_notice.item.get_absolute_url }}">{% viewable_name details.action_notice.item %}</a>
    Made by:
    <a href="{{ details.action_notice.action_agent.get_absolute_url }}">{% viewable_name details.action_notice.action_agent %}</a> 
</div>
{% endfor %}

{% endblock content %}

