{% extends layout %}
{% load item_tags %}
{% block content %}

            
<div style="text-align: right; font-size:smaller;">
    Displaying changes {{ action_notices.start_index }} - {{ action_notices.end_index }} of {{ count }} total changes.
</div>

<div style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
    {% if action_notices.has_previous %}
        <a href="?page={{ action_notices.previous_page_number }}">~Prev</a>
    {% endif %}

    {% for page in page_range %}
        {% ifequal page action_notices.number %} 
            {{ action_notices.number }}
        {% endifequal %}

        {% ifnotequal page action_notices.number %}
            <a href="?page={{ page }}">{{ page }}</a>
        {% endifnotequal %}    
    {% endfor %}

    {% if action_notices.has_next %}
        <a href= "?page={{ action_notices.next_page_number }}">Next~</a>
    {% endif %}
</div>

{% for details in action_notices.object_list %}
<div style="margin-bottom: 2px; border: thin #ccc solid; background: #eee; -moz-border-radius: 8px; padding: 2px;">
    <span title="{{ details.action_notice.action_time|date:"Y-m-d H:m:s" }}" style="width: 13em; display: inline-block;">
        {{ details.action_notice.action_time|timesince }}
        ago
    </span>
    
    {% ifequal details.type "CreateActionNotice" %}
        <span style="width: 25em; display: inline-block;">
            <a href="{{ details.action_notice.action_agent.get_absolute_url }}">{% viewable_name details.action_notice.action_agent %}</a> 
            created 
            <a href="{{ details.action_notice.item.get_absolute_url }}">{% viewable_name details.action_notice.item %}</a>
        </span>
    {% endifequal %}

    {% ifequal details.type "EditActionNotice" %}
        <span style="width: 25em; display: inline-block;">
            <a href="{{ details.action_notice.action_agent.get_absolute_url }}">{% viewable_name details.action_notice.action_agent %}</a> 
            edited
            <a href="{{ details.action_notice.item.get_absolute_url }}">{% viewable_name details.action_notice.item %}</a>
        </span>
    {% endifequal %}

    {% ifequal details.type "DestroyActionNotice" %}
        <span style="width: 25em; display: inline-block;">
            <a href="{{ details.action_notice.action_agent.get_absolute_url }}">{% viewable_name details.action_notice.action_agent %}</a> 
            destroyed
            <a href="{{ details.action_notice.item.get_absolute_url }}">{% viewable_name details.action_notice.item %}</a>
        </span>
    {% endifequal %}

    {% ifequal details.type "DeactivateActionNotice" %}
        <span style="width: 25em; display: inline-block;">
            <a href="{{ details.action_notice.action_agent.get_absolute_url }}">{% viewable_name details.action_notice.action_agent %}</a> 
            deactivated
            <a href="{{ details.action_notice.item.get_absolute_url }}">{% viewable_name details.action_notice.item %}</a>
        </span>    
    {% endifequal %}

    {% ifequal details.type "ReactivatedActionNotice" %}
        <span style="width: 25em; display: inline-block;">
            <a href="{{ details.action_notice.action_agent.get_absolute_url }}">{% viewable_name details.action_notice.action_agent %}</a> 
            reactivated
            <a href="{{ details.action_notice.item.get_absolute_url }}">{% viewable_name details.action_notice.item %}</a>
        </span>
    {% endifequal %}

    <i>{{ details.action_notice.action_summary }}</i>

</div>
{% endfor %}

<div style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
    {% if action_notices.has_previous %}
        <a href="?page={{ action_notices.previous_page_number }}">~Prev</a>
    {% endif %}

    {% for page in page_range %}
        {% ifequal page action_notices.number %} 
            {{ action_notices.number }}
        {% endifequal %}

        {% ifnotequal page action_notices.number %}
            <a href="?page={{ page }}">{{ page }}</a>
        {% endifnotequal %}    
    {% endfor %}

    {% if action_notices.has_next %}
        <a href= "?page={{ action_notices.next_page_number }}">Next~</a>
    {% endif %}
</div>

{% endblock content %}

