{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item.item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item.item_type|icon_url:48 }}" /> Relationships for {% ifagentcan 'view' 'name' item %}{{ item.name }}{% else %}[PERMISSION DENIED]{% endifagentcan %}{% endblock %}
{% block content %}

{% itemheader 'Relationships' %}

<table class="list" style="margin-bottom: 15px; width: 100%;">
    <tr>
        <th colspan="2">Your Abilities</th>
    </tr>
    {% for ability in abilities %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td>{{ ability }}</td>
    </tr>
    {% endfor %}
</table>

{% for relationship_set in relationship_sets %}
{% if relationship_set.items %}
<table class="list" style="margin-bottom: 15px; width: 100%;">
    <tr>
        <th>{{ relationship_set.name|title }}</th>
    </tr>
    {% for relationship in relationship_set.items %}
    <tr class="{% cycle 'even' 'odd' %}">
        {% if relationship.can_view_name %}
            <td><a href="{% show_resource_url relationship.item %}">{{ relationship.item.name }}</a></td>
        {% else %}
            <td><a href="{% show_resource_url relationship.item %}">[PERMISSION DENIED]</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endfor %}

{% endblock content %}

