{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item.item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item.item_type|icon_url:48 }}" /> Relationships for {% ifagentcan 'view' 'name' item %}{{ item.name }}{% else %}[PERMISSION DENIED]{% endifagentcan %}{% endblock %}
{% block content %}

<div class="crumbs">
    {% for inherited_item_type in item_type_inheritance %}
    <a href="/resource/{{ inherited_item_type|lower }}">{{ inherited_item_type }}s</a>
    &raquo;
    {% endfor %}
    <a href="{% show_resource_url item %}">{{ item }}</a>
    &raquo;
    <a href="{% show_resource_url itemversion %}">Version {{ itemversion.version_number }}</a>
    &raquo;
    Relationships
</div>

<table width="100%">
<tr valign="top">
<td width="50%">

{% for relationship_set in relationship_sets %}
{% if relationship_set.items %}
<table class="list" style="margin-bottom: 15px; width: 100%;">
    <tr>
        <th>{{ relationship_set.name|title }}</th>
    </tr>
    {% for relationship in relationship_set.items %}
    <tr class="{% cycle 'even' 'odd' %}">
        {% if relationship.can_view_name %}
            <td><a href="{% show_resource_url relationship.item %}">{{ relationship.item.name }}</a></td>
        {% else %}
            <td><a href="{% show_resource_url relationship.item %}">[PERMISSION DENIED]</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endfor %}

</td>
<td width="50%">

{% for relationship_set in version_relationship_sets %}
{% if relationship_set.items %}
<table class="list" style="margin-bottom: 15px; width: 100%;">
    <tr>
        <th>{{ relationship_set.name|title }}</th>
    </tr>
    {% for relationship in relationship_set.items %}
    <tr class="{% cycle 'even' 'odd' %}">
        {% if relationship.can_view_name %}
            <td><a href="{% show_resource_url relationship.item %}">{{ relationship.item.name }} (v{{ relationship.item.version_number }})</a></td>
        {% else %}
            <td><a href="{% show_resource_url relationship.item %}">[PERMISSION DENIED] (v{{ relationship.item.version_number }})</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endfor %}

</td>
</tr>
</table>

{% endblock content %}

