{% extends layout %}
{% load resource_extras %}
{% block favicon %}{{ item.item_type|icon_url:16 }}{% endblock %}
{% block title %}<img src="{{ item.item_type|icon_url:48 }}" /> {% ifagentcan 'view' 'name' item %}{{ item.name }}{% else %}[PERMISSION DENIED]{% endifagentcan %}{% endblock %}
{% block content %}

{% itemheader %}

<table class="twocol">
    {% for field in fields|dictsort:"name" %}
    {% ifequal field.field_type 'collection' %}
    {% else %}
    <tr>
        <th>{{ field.name|title }}</th>
        <td>
            {% if field.can_view %}
                {% ifequal field.field_type 'regular' %}
                {% ifequal field.format 'FileField' %}
                <a href="/static/media/{{ field.obj }}">{{ field.obj }}</a>
                {% else %}
                {% ifequal field.format 'TextField' %}
                {{ field.obj|linebreaksbr|urlize }}
                {% else %}
                {{ field.obj }}
                {% endifequal %}
                {% endifequal %}
                {% endifequal %}

                {% ifequal field.field_type 'entry' %}
                {% if field.obj %}
                {% if field.can_view_name %}
                <div><a href="{% show_resource_url field.obj %}">{{ field.obj }}</a></div>
                {% else %}
                <div><a href="{% show_resource_url field.obj %}">PERMISSION DENIED</a></div>
                {% endif %}
                {% else %}
                NULL
                {% endif %}
                {% endifequal %}
            {% else %}
                PERMISSION DENIED
            {% endif %}
        </td>
    </tr>
    {% endifequal %}
    {% endfor %}
</table>

{% commentbox %}

{% endblock content %}

