{% extends layout %}
{% load item_tags %}
{% block content %}

<script type="text/javascript">
    function openDialog(name)
    {
        var dialogBox = $("#" + name);
        dialogBox.dialog({
            autoOpen: false,
            bgiframe: true,
            modal: true,
            close: function(event, ui) {dialogBox.dialog('destroy')}
        });
        dialogBox.dialog('open');
    }
</script>
{% subclassfields %}

<form id="removememberform" method="post" enctype="multipart/form-data" action="{% url item_url viewer=viewer_name,action="removemember",noun=item.pk %}?redirect={{ full_path|urlencode }}" style="display: none;">
    <input type="hidden" name="item" value="" />
</form>

{% newmemberdialog %}

<form id="removeselfform" method="post" enctype="multipart/form-data" action="{% url item_url viewer=viewer_name,action="removemember",noun=item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
    <input type="hidden" name="item" value="{{ cur_agent.pk }}" />
</form>

<form id="addselfform" method="post" enctype="multipart/form-data" action="{% url item_url viewer=viewer_name,action="addmember",noun=item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
    <input type="hidden" name="item" value="{{ cur_agent.pk }}" />
</form>

<table id="jqgrid_list_collection_{{ item.pk }}"></table>
<div id="jqgrid_pager_collection_{{ item.pk }}"></div>
<script type="text/javascript">
$(document).ready(function () {
  $("#jqgrid_list_collection_{{ item.pk }}").jqGrid({
    url: '{% url item_type_url viewer="item",action="grid",format="json" %}',
    postData: {
      fields: 'name,creator',
      filter: 'memberships.collection.{{ item.pk }}',
    },
    datatype: "json",
    colNames: [
      'Item name',
      'Creator',
      'Actions',
    ],
    colModel: [
      {name: 'name', index: 'name'},
      {name: 'creator', index: 'creator'},
      {name: 'actions', index: 'actions', sortable: false},
    ],
    rowNum: 50,
    rowList: [10,20,50,100],
    viewrecords: true,
    pager: '#jqgrid_pager_collection_{{ item.pk }}',
    height: "100%",
    autowidth: true,
    gridComplete: function(){
      var ids = $("#jqgrid_list_collection_{{ item.pk }}").getDataIDs();
      for (var i = 0; i < ids.length; i++) {
        var id = ids[i];
        var deleteButton = '<button type="button" onclick="$(\'#removememberform\')[0].elements[0].value = '+id+'; $(\'#removememberform\')[0].submit();"><span class="ui-icon ui-icon-trash"></span></button>';
        {% ifagentcan 'modify_membership' item %}
        $("#jqgrid_list_collection_{{ item.pk }}").setRowData(id, {actions: deleteButton});
        {% endifagentcan %}
      }
    },
  });
  $("#jqgrid_list_collection_{{ item.pk }}").jqGrid('navGrid','#jqgrid_pager_collection_{{ item.pk }}',{edit:false,add:false,del:false});
  $("#jqgrid_list_collection_{{ item.pk }}").jqGrid('navButtonAdd',"#jqgrid_pager_collection_{{ item.pk }}",{caption:"Columns",title:"Choose columns",buttonicon:"ui-icon-gear",onClickButton:function(){$("#jqgrid_list_collection_{{ item.pk }}").jqGrid('columnChooser',{});}});

  {% ifagentcan 'modify_membership' item %}
  $("#jqgrid_list_collection_{{ item.pk }}").jqGrid('navButtonAdd',"#jqgrid_pager_collection_{{ item.pk }}",{caption:"Add",title:"Add an item to {% viewable_name item %}",buttonicon:"ui-icon-circle-plus",onClickButton:function(){openDialog('addmember{{ item.pk }}');}})
  {% endifagentcan %}

  {% if cur_agent_in_collection %}
  {% ifagentcan 'remove_self' item %}
  $("#jqgrid_list_collection_{{ item.pk }}").jqGrid('navButtonAdd',"#jqgrid_pager_collection_{{ item.pk }}",{caption:"Leave",title:"Remove my membership in {% viewable_name item %}",buttonicon:"ui-icon-person",onClickButton:function(){$('#removeselfform')[0].submit();}})
  {% endifagentcan %}
  {% else %}
  {% ifagentcan 'add_self' item %}
  $("#jqgrid_list_collection_{{ item.pk }}").jqGrid('navButtonAdd',"#jqgrid_pager_collection_{{ item.pk }}",{caption:"Join",title:"Become a member of {% viewable_name item %}",buttonicon:"ui-icon-person",onClickButton:function(){$('#addselfform')[0].submit();}})
  {% endifagentcan %}
  {% endif %}
});
</script>

{% endblock content %}

