{% extends layout %}
{% load item_tags %}
{% block content %}

{% subclassfields %}

{% if cur_agent_in_collection %}
{% ifagentcan 'remove_self' '' item %}
<form method="post" enctype="multipart/form-data" action="{% url item_url viewer=viewer_name,action="removemember",noun=item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
    <input type="hidden" name="item" value="{{ cur_agent.pk }}" />
    <button type="submit"><img src="{{ "delete"|icon_url:16 }}" /> <span>Remove myself from collection</span></button>
</form>
{% endifagentcan %}
{% else %}
{% ifagentcan 'add_self' '' item %}
<form method="post" enctype="multipart/form-data" action="{% url item_url viewer=viewer_name,action="addmember",noun=item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
    <input type="hidden" name="item" value="{{ cur_agent.pk }}" />
    <button type="submit"><img src="{{ "new"|icon_url:16 }}" /> <span>Add myself to collection</span></button>
</form>
{% endifagentcan %}
{% endif %}

{% ifagentcan 'modify_membership' '' item %}
<div style="margin-bottom: 10px;">
    Add an item:
    <form method="post" enctype="multipart/form-data" action="{% url item_url viewer=viewer_name,action="addmember",noun=item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
        <table cellspacing="0">
            {{ addmember_form.as_table }}
        </table>
        <button type="submit"><img src="{{ "new"|icon_url:16 }}" /> <span>Add to collection</span></button>
    </form>
</div>
{% endifagentcan %}

{% if memberships %}
<table cellspacing="0" class="list">
    <tr>
        <th>Name</th>
        <th>Membership</th>
    </tr>
    {% for membership in memberships %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td>
            <a href="{{ membership.item.get_absolute_url }}">{% viewable_name membership.item %}</a>
        </td>
        <td>
            <a href="{{ membership.get_absolute_url }}">{{ membership.pk }}</a>
            {% ifagentcan 'modify_membership' '' item %}
            <form style="display: inline;" method="post" enctype="multipart/form-data" action="{% url item_url viewer=viewer_name,action="removemember",noun=item.pk %}?redirect={{ full_path|urlencode }}" class="item_form">
                <input type="hidden" name="item" value="{{ membership.item.pk }}" />
                <button type="submit"><img src="{{ "delete"|icon_url:16 }}" /> <span>Remove from collection</span></button>
            </form>
            {% endifagentcan %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
    No Items In This Collection
{% endif %}

{% endblock content %}

