{% load item_tags %}
{% load chat_extras %}
<div class="adminbar navbar navbar-inverse">
  <div class="left-wrap">
    <ul class="nav pull-left search">
      <li class="dropdown" id="textsize-btn">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Text size"><i class="demeicon demeicon-text-size"></i></a>
        <div class="dropdown-menu">
          <div class="row">
            <div class="col-span-6">
              <button class="btn btn-block smaller">A</button>
            </div>
            <div class="col-span-6">
              <button class="btn btn-block bigger">A</button>
            </div>
          </div>
        </div>
      </li>
      <li class="dropdown" id="search-btn">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Search"><i class="glyphicon glyphicon-search"></i></a>
        <div class="dropdown-menu">
          <form method="get" action="{% url item_type_url viewer="item" %}">
              <input type="search" id="search_box" name="q" placeholder="Search" value="{{ search_query }}">
              {# TODO add magnifying glass #}
          </form>
        </div>
      </li>
    </ul>

    <ul class="nav pull-left breadcrumbs">
      {% crumbs %}
    </ul>
  </div>

  <ul class="nav pull-right actions-wrap">
    <li class="dropdown" id="actions-btn">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Actions">Actions <span class="caret"></span>
      </a>
      <ul class="dropdown-menu actions-menu">
        {% actionsmenu %}
      </ul>
    </li>
    <li><a href="#" title="Create"><i class="glyphicon glyphicon-plus-sign"></i></a></li>
    <li><a href="#" title="Edit"><i class="glyphicon glyphicon-edit"></i></a></li>
    <li><a href="#" title="Comment"><i class="glyphicon glyphicon-comment"></i></a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Account"><i class="glyphicon glyphicon-user"></i></a>
      <ul class="dropdown-menu login-menu">
        {% login_menu %}
      </ul>
    </li>
    {% if item %}
    <li><a href="#" title="Toggle Metadata" class="metabar-toggle"><i class="glyphicon glyphicon-info-sign"></i></a></li>
    {% endif %}
  </ul>
</div>


<!-- start old stuff -->

<div class="HiddenMenu" id="HiddenNewItemMenu" style="position: fixed; top: 73px; left: 220px; right: 20px; padding: 10px; background: #fff; border: thin ridge gray; -moz-box-shadow: 5px 3px 3px #ccc; -webkit-box-shadow: 5px 3px 3px #ccc;box-shadow: px 3px 3px #ccc; display: none;">
    <div style="float:right; height: 5px; font-size: 20%;">
        <a href="#" id="closebutton" onclick="toggleNewItemMenu('HiddenNewItemMenu'); return false;" class="fg-button ui-state-default fg-button-icon-solo ui-corner-all" title="Close"><span class="ui-icon ui-icon-close"></span> Close</a>
    </div>
    <div style="float:left;">
        {% defaultcreateitemtypes %}
        <div class="create_image" style="float: left; margin-right: 2em;">
            <a href="{% url item_type_url viewer=create_item_viewer_name,action="new"%}" class="img_link"><img src="{{create_item_type|icon_url:64}}" title="Create new {% item_type_verbose_name create_item_type %}" />New {% item_type_verbose_name create_item_type %}</a>
        </div>
        {% enddefaultcreateitemtypes %}
        <a href="{% url item_type_url viewer="item",action="newother"%}" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all poll" style="margin-top: 20px;">Other</a>
        <div style="clear: both;"></div>
    </div>


    <div style="clear: both;"></div>
</div>

<script type="text/javascript">

    function openCommentDialog(name)
    {
        var dialogBox = $('#' + name);
        dialogBox.dialog({
            autoOpen: false,
            bgiframe: true,
            modal: true,
            close: function(event, ui) {dialogBox.dialog('destroy')}
        });
        dialogBox.dialog('open');
    }
    function displayHiddenDiv(name)
    {
        var hiddenDiv = $('#' + name);
        hiddenDiv.show();
    }
</script>