{% load item_tags %}
{% load chat_extras %}
<div class="adminbar navbar navbar-inverse">
  <div class="left-wrap">
    <ul class="nav navbar-nav pull-left search">
      <li><a href="#" class="advanced" title="Hide advanced tools and actions"><i class="glyphicon glyphicon-cog"></i></a></li>
      {% include 'includes/adminbar_widgets/text-resize.html' %}
      {% include 'includes/adminbar_widgets/search.html' %}
    </ul>

    <ul class="nav navbar-nav pull-left breadcrumbs">
      {% crumbs %}
    </ul>
  </div>

  <ul class="nav navbar-nav pull-right actions-wrap">
    <li class="dropdown" id="actions-btn">
      <a href="#" id="adminBarActionsLabel" class="dropdown-toggle" data-toggle="dropdown" title="Actions">Actions <span class="caret"></span>
      </a>
      <ul class="dropdown-menu actions-menu" aria-labelledby="adminBarActionsLabel">
        {% actionsmenu %}
      </ul>
    </li>
    <li><a href="#" title="Create" class="create"><i class="glyphicon glyphicon-plus-sign"></i></a></li>
    {% if item %}
      <li><a href="#" title="Edit" class="edit"><i class="glyphicon glyphicon-edit"></i></a></li>
      {% ifagentcan 'comment' item %}
      <li><a href="#" title="Comment" class="comment"><i class="glyphicon glyphicon-comment"></i></a></li>
      {% endifagentcan %}
    {% endif %}
    {% include 'includes/adminbar_widgets/account.html' %}
    <li><a href="#" title="Toggle Metadata" class="metabar-toggle"><i class="glyphicon glyphicon-info-sign"></i></a></li>
  </ul>
</div>

<div class="modal" id="newItemMenu">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="glyphicon glyphicon-plus-sign"></i> Create a new item</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
        {% defaultcreateitemtypes %}
          <a href="{% url item_type_url viewer=create_item_viewer_name,action="new"%}" class="list-group-item">
            <img src="{{create_item_type|icon_url:32}}" title="Create new {% item_type_verbose_name create_item_type %}" class="thumb">
            New {% item_type_verbose_name create_item_type %}
          </a>
        {% enddefaultcreateitemtypes %}
        </div>
      </div>
      <div class="modal-footer">
        <a href="{% url item_type_url viewer="item",action="newother"%}" class="btn btn-primary">Other Items</a>
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
      </div>
    </div>
  </div>
</div><!-- /.modal -->

<script type="text/javascript">
    function openCommentDialog(name)
    {
        var dialogBox = $('#' + name);
        dialogBox.dialog({
            autoOpen: false,
            bgiframe: true,
            modal: true,
            close: function(event, ui) {dialogBox.dialog('destroy')}
        });
        dialogBox.dialog('open');
    }
    function displayHiddenDiv(name)
    {
        var hiddenDiv = $('#' + name);
        hiddenDiv.show();
    }
</script>