{% load item_tags %}
{% load chat_extras %}
{% if item %}
  <script type="text/javascript">
  function metabar_ajax_url(metadata_menu_name) {
    return "{% url item_url viewer=viewer_name,noun=item.pk,action="metadata" %}?name=" + metadata_menu_name + '&amp;original_full_path={{ full_path|escapejs }}';
  }

  {% if default_metadata_menu_option %}
  $(function(){
    var collapse = $('#metadata_content_{{default_metadata_menu_option}}');
    metabar_show_section(collapse);
  });
  {% endif %}

  </script>

  <div id="metabar" class="noanim">
    <div class="title">
      Metadata
      <div class="pull-right">
        <button class="resize resize-left"><i class="glyphicon glyphicon-arrow-left"></i></button>
        <button class="resize resize-right"><i class="glyphicon glyphicon-arrow-right"></i></button>
      </div>
    </div>

    {% with "metadata_content_item_details" as id %}{% with "Item details" as title %}
    {% include 'includes/metabar_section.html' %}
    {% endwith %}{% endwith %}

    {% with "metadata_content_comments" as id %}{% with "Comments" as title %}
    {% include 'includes/metabar_section.html' %}
    {% endwith %}{% endwith %}

    {% with "metadata_content_action_notices" as id %}{% with "Action notices" as title %}
    {% include 'includes/metabar_section.html' %}
    {% endwith %}{% endwith %}

    {% with "metadata_content_versions" as id %}{% with "Versions" as title %}
    {% include 'includes/metabar_section.html' %}
    {% endwith %}{% endwith %}

    {% with "metadata_content_related_items" as id %}{% with "Related items" as title %}
    {% include 'includes/metabar_section.html' %}
    {% endwith %}{% endwith %}

    {% with "metadata_content_permissions" as id %}{% with "Permissions" as title %}
    {% include 'includes/metabar_section.html' %}
    {% endwith %}{% endwith %}
  </div>
{% endif %}