{% load item_tags %}
{% load chat_extras %}
<div id="metabar">
  <h1>Meta</h1>
    <!--div class="ui-helper-clearfix" style="font-size: 60%; float: right;">

        <a href="#" id="increasebutton" onclick="increase_column_right(); return false;" class="fg-button ui-state-default fg-button-icon-solo ui-corner-all" title="Show"><span class="ui-icon ui-icon-arrowthickstop-1-w"></span> Show</a>
        <a href="#" id="decreasebutton" onclick="decrease_column_right(); return false;" class="fg-button ui-state-default fg-button-icon-solo ui-corner-all" title="Hide"><span class="ui-icon ui-icon-arrowthickstop-1-e"></span> Hide</a>
        <a href="#" id="closebutton" onclick="hide_fixed_right_pane(); return false;" class="fg-button ui-state-default fg-button-icon-solo ui-corner-all" title="Close"><span class="ui-icon ui-icon-circle-close"></span> Close</a>
    </div>
    <div style="clear: both;"></div-->


    <div class="metadata_content metadata_content_item_details" style="display: none;">
    </div>
    <div class="metadata_content metadata_content_comments" style="display: none;">
    </div>
    <div class="metadata_content metadata_content_action_notices" style="display: none;">
    </div>
    <div class="metadata_content metadata_content_versions" style="display: none;">
    </div>
    <div class="metadata_content metadata_content_related_items" style="display: none;">
    </div>
    <div class="metadata_content metadata_content_permissions" style="display: none;">
    </div>
</div>