{% load item_tags %}
<div class="adminbar nonadminbar navbar navbar-inverse">
  <div class="left-wrap">
    <ul class="nav navbar-nav pull-left search">
      {% include 'includes/adminbar_widgets/text-resize.html' %}
      {% include 'includes/adminbar_widgets/search.html' %}
    </ul>
  </div>

  <ul class="nav navbar-nav pull-right actions-wrap">
    {% include 'includes/adminbar_widgets/account.html' %}
    {% ifagentcan 'advanced_layout' cur_site %}
    <li><a href="#" class="advanced" title="Show advanced tools and actions"><i class="glyphicon glyphicon-cog"></i></a></li>
    {% endifagentcan %}

  </ul>
</div>
