{% extends layout %}
{% load symsys_extras %}
{% load item_tags %}
{% block title %}{% viewable_name item %}{% endblock %}
{% block content %}

<ul style="list-style-type: none; margin-bottom: 20px; margin-top: 5px; padding: 0;">

    {% ifagentcan 'view SymsysCareer.original_first_name' item %}
    {% ifagentcan 'view SymsysCareer.original_middle_names' item %}
    {% ifagentcan 'view SymsysCareer.original_last_name' item %}
    {% ifagentcan 'view SymsysCareer.original_suffix' item %}
    <li class="outerlist">
    <b>Original Full Name: </b>
    {% if item.original_first_name %}
        {{ item.original_first_name }}
    {% endif %}
    {% if item.original_middle_names %}
        {{ item.original_middle_names }}
    {% endif %}
    {% if item.original_last_name %}
        {{ item.original_last_name }}
    {% endif %}
    {% if item.original_suffix %}
        {{ item.original_suffix }}
    {% endif %}
    </li>

    {% endifagentcan %}
    {% endifagentcan %}
    {% endifagentcan %}
    {% endifagentcan %}

    {% if item.original_photo %}
    {% if item.original_photo.active %}
    {% ifagentcan 'view SymsysCareer.original_photo' item %}
    {% ifagentcan 'view FileDocument.datafile' item.original_photo %}
    <li class="outerlist">
        <a href="{{ item.original_photo.get_absolute_url }}"><img src="{{ item.original_photo.datafile.url }}" style="border: thick solid #000; max-width: 150px; max-height: 150px;" /></a>
    </li>
    {% endifagentcan %}
    {% endifagentcan %}
    {% endif %}
    {% endif %}

    {% if item.class_year %}
    {% ifagentcan 'view StudentSymsysCareer.class_year' item %}
    <li class="outerlist">
    <b>Class Year: </b>
    {{ item.class_year }}
    </li>
    {% endifagentcan %}
    {% endif %}

    {% if concentration %}
    {% ifagentcan 'view BachelorsSymsysCareer.concentration' item %}
    <li class="outerlist">
    <b>Concentration: </b>
    {{ concentration }}
    </li>
    {% endifagentcan %}
    {% endif %}

    {% if indiv_designed_conc %}
    {% ifagentcan 'view BachelorsSymsysCareer.indiv_designed_conc' item %}
    <li class="outerlist">
    <b>Individually Designed Concentration: </b>
    {{ indiv_designed_conc }}
    </li>
    {% endifagentcan %}
    {% endif %}

    {% if track %}
    {% ifagentcan 'view MastersSymsysCareer.track' item %}
    <li class="outerlist">
    <b>Track: </b>
    {{ track }}
    </li>
    {% endifagentcan %}
    {% endif %}

    {% if indiv_designed_track %}
    {% ifagentcan 'view MastersSymsysCareer.indivdesignedtrack' item %}
    <li class="outerlist">
    <b>Individually Designed Track: </b>
    {{ indiv_designed_track }}
    </li>
    {% endifagentcan %}
    {% endif %}

    {% if thesis %}
    {% ifagentcan 'view ThesisSymsysCareer.thesis' item %}
    <li class="outerlist">
    <b>Thesis: </b>
    <a href="{{ thesis.get_absolute_url }}">{% if thesis_title %}{{ thesis_title }}{% else %}{% viewable_name thesis %}{% endif %}</a>
    </li>
    {% endifagentcan %}
    {% endif %}

    {% if item.advisor %}
    {% ifagentcan 'view StudentSymsysCareer.advisor' item %}
    <li class="outerlist">
    <b>Advisor: </b>
    <a href="{{ item.advisor.get_absolute_url }}">{% viewable_name item.advisor %}</a>
    </li>
    {% endifagentcan %}
    {% endif %}

    {% if second_reader %}
    {% ifagentcan 'view ThesisSymsysCareer.second_reader' item %}
    <li class="outerlist">
    <b>Second Reader: </b>
    <a href="{{ second_reader.get_absolute_url }}">{% viewable_name second_reader %}</a>
    </li>
    {% endifagentcan %}
    {% endif %}

    {% if item.other_degrees %}
    {% ifagentcan 'view StudentSymsysCareer.other_degrees' item %}
    <li class="outerlist">
    <b>Other Degrees: </b>
    {{ item.other_degrees }}
    </li>
    {% endifagentcan %}
    {% endif %}

    {% if item.start_date %}
    {% ifagentcan 'view SymsysCareer.start_date' item %}
    <li class="outerlist">
    <b>Start Date: </b>
    {{ item.start_date }}
    </li>
    {% endifagentcan %}
    {% endif %}

    {% if item.end_date %}
    {% ifagentcan 'view SymsysCareer.end_date' item %}
    <li class="outerlist">
    <b>End Date: </b>
    {{ item.end_date }}
    </li>
    {% endifagentcan %}
    {% endif %}

    {% if item.suid %}
    {% ifagentcan 'view SymsysCareer.suid' item %}
    <li class="outerlist">
    <b>SUID number: </b>
    {{ item.suid }}
    </li>
    {% endifagentcan %}
    {% endif %}

    {% ifagentcan 'view SymsysCareer.finished' item %}
    <li class="outerlist">
    {% if item.finished %}
    {% viewable_name item.symsys_affiliate %} is currently finished with this occupation
    {% else %}
    {% viewable_name item.symsys_affiliate %} is currently holding this occupation
    {% endif %}
    </li>
    {% endifagentcan %}

</ul>

{% endblock content %}
